html, body
{
    height: 100%;
}

/*///////////////// Dimension /////////////////*/

.width100percent {
	width: 100%!important;
}

.marginLR15 {
	margin-left: .9375rem!important;
	margin-right: .9375rem!important;
}

.marginLR0 {
	margin-left: 0!important;
	margin-right: 0!important;
}

.marginB15 {
	margin-bottom: .9375rem;
}

.marginB0 {
	margin-bottom: 0!important;
}

.marginL15 {
	margin-left: .9375rem!important;
}


.marginAll15 {
	margin: .9375rem!important;
}

.marginTB15 {
	margin-top: .9375rem!important;
	margin-bottom: .9375rem!important;
}

.marginB30 {
	margin-top: 1.875rem!important;
}

.marginT100 {
	margin-top: 6.25rem!important;
}


.paddingLR15 {
	padding-left: .9375rem!important;
	padding-right: .9375rem!important;	
}

.paddingLR0 {
	padding-left: 0!important;
	padding-right: 0!important;	
}

.paddingR0 {
	padding-right: 0!important;
}

.paddingL0 {
	padding-left: 0!important;
}

.paddingAll0 {
	padding: 0!important;
}

.paddingT15 {
	padding-top: .9375rem!important;
}

.paddingR15 {
	padding-right: .9375rem!important;
}

.paddingL15 {
	padding-left: .9375rem!important;
}

.paddingAll15 {
	padding: .9375rem!important;
}

.paddingB15{
	padding-bottom: .9375rem!important;
}

.paddingTB15 {
	padding-top: .9375rem!important;
	padding-bottom: .9375rem!important;
}

.paddingLR45 {
	padding-left: 2.8125rem!important;
	padding-right: 2.8125rem!important;	
}

.paddingT45 {
	padding-top: 2.8125rem!important;
}

.paddingB45 {
	padding-bottom: 2.8125rem!important;
}

.paddingL45 {
	padding-left: 2.8125rem!important;
}

.paddingR45 {
	padding-right: 2.8125rem!important;
}

.paddingAll45 {
	padding: 2.8125rem!important;
}

.paddingTB45 {
	padding-top: 2.8125rem!important;
	padding-bottom: 2.8125rem!important;
}

.paddingAll30 {
	padding-left: 1.875rem!important;
	padding-right: 1.875rem!important;
	padding-top: 1.875rem!important;
	padding-bottom: 1.875rem!important;
} 

.paddingT30{
	padding-top: 1.875rem!important;
}

.marginT0{
	margin-top:0!important;
}
@media print, screen and (min-width: 64em){
	.large-paddingT100: {

	}

	.large-paddingLR45 {
		padding-right: 2.8125rem!important;	
		padding-left: 2.8125rem!important;		
	}

	.large-paddingAll45 {
		padding: 2.8125rem!important;		
	}

	.large-paddingT100 {
		padding-top: 6.25rem!important;
	}

	.large-paddingB45{
		padding-bottom: 2.8125rem!important;
	}

	.large-paddingL45{
		padding-left: 2.8125rem!important;
	}

	.large-paddingR45{
		padding-right: 2.8125rem!important;	
	}

	.large-paddingL15{
		padding-left: 0.9375rem!important;	
	}

	.large-paddingR15{
		padding-right: 0.9375rem!important;	
	}

	.large-paddingLR15 {
		padding-right: 0.9375rem!important;	
		padding-left: 0.9375rem!important;		
	}

	.large-paddingLR0 {
		padding-right: 0rem!important;	
		padding-left: 0rem!important;		
	}


	.large-marginB15{
		margin: 0 0 0.9375rem!important;
	}

	.large-paddingR5{
		padding-right: 0.3125rem!important;
	}

	.large-paddingL5{
		padding-left: 0.3125rem!important;
	}

	.large-lineheight35{
		line-height: 2.1875rem!important;
	}

	.max-width468{
		max-width: 468px;
	}

	.max-width1000{
		max-width: 1000px;
	}

/*	#alternativeMenu{
		display: inherit;
	}*/

}

@media print, screen and (min-width: 40em) and (max-width: 64em){
	.medium-paddingT45{
		padding-top: 2.8125rem!important;
	}
}

/*Checkin*/
ul.listOrder li i{
	line-height: 2;
	padding-top: 25px;
}

/*Checkout Div*/
#checkoutDiv{
	position: fixed;
	background-color: #fff;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
/*	min-height: 100vh;
*/	z-index: 5;
	overflow-y: scroll;
}

/*Selected Item Div*/
.selectedItemDiv{
	padding: 15px;
	margin-bottom: 15px;
	border: 2px solid #69a9d3;
}

.selectedItemDiv label{
	font-weight: bold;
}

.selectedItemDiv tr td{
	color: #000;
	font-weight: bold;
}

/*main checkin section*/
.addItemSection{
	border: 2px solid #ccc;
}

/* Invoice checkout*/
.invoice .hightlight{
	font-weight: bold;
	color: red;
}

#checkoutDiv .header-invoice-img{
	height: 60px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 15px;
}

#checkoutDiv .header-invoice-img img{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: 100%;
	width: auto;
}

#checkoutDiv .header-invoice h4{
	font-size: 17px;
}

.priceSection .text-right{
	font-weight: bold;
}

#checkoutDiv .text-right p{
	margin: 0;
}

#checkoutDiv p{
	margin:0;
}

/**/
.iconAdd{
	position: relative;
	height: 100%;
	min-height: 83.2px;
}

.iconAdd i{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top:60%;
	font-size: 31px;
	color: #2f6ab4;
	cursor: pointer;
}

.deleteIcon i{
	font-size: 31px;
	color: #ee5f5b;
	cursor: pointer;
}

/**/
.title{
	font-weight: bold;
	font-size: 17px;
}

/*#alternativeMenu{
	display: none;
}*/

#alternativeMenu{
	height: 100%;
	position: fixed;
	/*width: 16.66667%;*/
	/*max-width: 10vw;*/
	top:48px;
	float: left;
	min-height: 100vh;
	padding: 0;
	z-index: 2;
	background-color: rgba(103, 111, 117, 0.71);
}

#alternativeMenu li a{
	color: #fff;
}

#alternativeMenu li{
	padding: 15px 0;
	text-align: center;
	width: 100%;
	-webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

#alternativeMenu li:hover{
	background-color: rgba(103, 111, 117, 0.81);
}

#topNavBar{
	position: fixed;
	z-index: 4;
	width: 100%;
/*	height: 70.7px;*/
}

#topNavBar li{
	display: inline-block;
}

#topNavBar .medium-2{
	/*max-width: 10vw;*/
}

#topNavBar .medium-10 li{
	padding-top: 10px;
}

.relative{
	position: relative;
	max-width: 100vw;
}

#mainContentDiv{
/*	min-width: 89vw;*/
	margin-top: 75px;
	padding-left:30px;
	padding-right: 30px;
}

.priceSection{
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	padding: 15px 0;
	margin: 15px auto;
}

.greenBorder{
	border-left: 2px solid #cacaca;
}

.greenBorderR{
	border-right: 2px solid #3adb76;
}

.addPromotion{
	padding: 15px;
	margin-bottom: 15px;
	border: 2px solid #ccc;
}

.headerModal{
	border-bottom: 1px solid #ccc;
}

#askCheckout, #announceCheckoutSuccess{
	z-index: 10;
}