div(class="columns row")
	div(class="row colums")
		div(class="column")
			h2 Check-in List
		// Setting
		div(class="row column")
			div(class="column small-3")
				ul(class="menu")
					li
						a(class="button primary" ng-click="vm.ctrl.toggleCheckInDiv()") 
							span(class="show-for-large") Check-in
							i(class="material-icons customIcon hide-for-large") add
			div(class="column small-9")
				ul(class="menu clearfix")
					li(class="float-right marginL15")
						<a class="button secondary" ng-click="vm.ctrl.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
					li(class="float-right")
						ul(class="menu")
							li: label(class="paddingR15 show-for-large") Sort by
							li: select(class="")
									option(value="name") Name
									option(value="checkinTime") Check-in time
									option(value="status") Status
		// Check-in
		div(class="column")
			div(class="borderT newBox row column paddingLR15" ng-show="vm.model.dom.checkInDiv")
				div(class="row column")
					form(ng-submit="vm.ctrl.searchCustomers('checkInDiv')")
						div(class="row column")
							label Phone/Email
								input(type="text" placeholder="Enter phone or email to search customer" ng-model='vm.model.search.username')
						div(ng-show='vm.model.dom.messageSearchResult' class='marginB15')
							div(class='callout alert')
								p {{vm.model.search.messageNoResult}}
									span: a(href='/#!/customers') Create new customer
						div(ng-show="vm.model.dom.checkingInCustomerSearchResult" class="marginB15")
							div(class="table-scroll")
								table(class="hover unstriped borderAll")
									thead
										tr
											th No
											th Last Name
											th First Name
											th Email
											th Phone				
									tbody
										tr(ng-repeat='noti in vm.noties')
											td {{noti.firstname}}
											td {{noti.msg}}
										tr(ng-repeat='result in vm.model.search.userResults' ng-click='vm.ctrl.selectCustomerToCheckin($index)' class="pointerCursor")
											td {{ $index + 1 }}
											td {{ result.lastname }}
											td {{ result.firstname }}
											td {{ result.email }}
											td {{ result.phone }}
				
				form(ng-submit="vm.ctrl.checkin ()" confirm-submit ='Are you sure to checkin')
					div(class="row column")
						label Service
							select(name="selectedService" ng-model="vm.model.customer.checkingInData.orderline[0].productName" ng-options="val for val in vm.model.customer.serviceNames.slice(0,2)")
					div(class="row column")
						ul(class="menu vertical listOrder")
							li(ng-repeat="item in vm.model.customer.checkingInData.orderline.slice(1)" class="marginB15")
								div(class="column row")
									div(class="column small-6 paddingL0")
										label Other items
											select( ng-model="item.productName" ng-options="val for val in vm.model.customer.serviceNames.slice(3)")
									div(class="column small-5 paddingL0")
										label Quantity
											input( ng-model="item.quantity" string-to-number type="number" min='0')
									div(class="column small-1 paddingR0 text-center")
										i(class="material-icons pointerCursor" ng-click='vm.ctrl.closeAnItem($index+1, "checkInDiv")') close
						div(class="marginB15")
							a(ng-click="vm.ctrl.addMoreOtherItems ('checkingInDiv')") Add more items
					div(class="row column")
						input(class="button" type="submit" value="Submit")
						button(class="button float-right" ng-click="vm.ctrl.toggleCheckInDiv()") Cancel
		// Filter
		div(class="column" ng-show="vm.model.dom.filterDiv")
			form(class="borderT newBox row column")
				div(class="row column marginB15 small-up-2 medium-up-3")
					fieldset(class="column column-block")
						legend Checked-in
						div(class="row column")
							input(type="radio" name="checkedInTime" value="today" id="checkedInTimeToday" required)
							label(for="checkedInTimeToday") Today
						div(class="row column")
							input(type="radio" name="checkedInTime" value="today" id="checkedInTimeYesterday" required)
							label(for="checkedInTimeYesterday") Yesterday
						div(class="row column")
							input(type="radio" name="checkedInTime" value="today" id="checkedInTime3days" required)
							label(for="checkedInTime3days") 3 days ago
						div(class="row column")
							input(type="radio" name="checkedInTime" value="today" id="checkedInTime7days" required)
							label(for="checkedInTime7days") 7 days ago	
					fieldset(class="column column-block")
						legend Status
						div(class="row column")
							input(type="checkbox" name="checkoutStatus" value="in" id="checkoutStatusIn" required)
							label(for="checkoutStatusIn") In
						div(class="row column")
							input(type="checkbox" name="checkoutStatus" value="out" id="checkoutStatusOut" required)
							label(for="checkoutStatusOut") Out

					fieldset(class="column column-block")
						legend Services
						div(class="row column")
							input(type="checkbox" name="serviceType" value="all" id="serviceTypePrivate" required)
							label(for="serviceTypePrivate") Private
						div(class="row column")
							input(type="checkbox" name="serviceType" value="in" id="serviceTypeCommon" required)
							label(for="serviceTypeCommon") Common
		
		// Edit check-in
		div(class="column" ng-show="vm.model.dom.checkInEditDiv")
			div(class="newBox")
				h3 Edit checked-in customer: {{ vm.model.customer.editedCheckedInCustomer.username}}
				form
					div(class="row column")
						label Service
							select(name="selectedService" ng-model="vm.model.customer.editedCheckedInCustomer.orderline[0].productName" ng-options="val for val in vm.model.customer.serviceNames.slice(0,2)")
					div(class="row column")
						ul(class="menu vertical listOrder")
							li(ng-repeat="item in vm.model.customer.editedCheckedInCustomer.orderline.slice(1)" class="marginB15")
								div(class="column row")
									div(class="column small-6 paddingL0")
										label Other items
											select( ng-model="item.productName" ng-options="val for val in vm.model.customer.serviceNames.slice(2)")
									div(class="column small-5 paddingR0")
										label Quantity
											input(ng-model="item.quantity" string-to-number type="number" value="{{ item.quantity }}" min='0')
									div(class="column small-1 paddingR0 text-center")
										i(class="material-icons pointerCursor" ng-click='vm.ctrl.closeAnItem($index+1, "editedCheckedInDiv")') close
						div(class="marginB15")
							a(ng-click="vm.ctrl.addMoreOtherItems ('editedCheckedInDiv')") Add more items
					div(class="row column")
						input(class="button" type="submit" value="Submit" ng-click="vm.ctrl.updateCheckin ()")
						button(class="button float-right" ng-click="vm.ctrl.reload()") Cancel
		// Check-in list
		div(class="column" ng-show="vm.model.dom.checkInListDiv")
			div(class="table-scroll newBox")
				table(class="borderAll")
					thead
						tr
							th No
							th Name
							th Phone
							th Date
							th Time
							th Service
							th Checkout
							th Edit
					tbody
						tr(ng-repeat="customer in vm.model.customer.checkedInList")
							td {{ $index + 1 }}
							td {{ customer.customer.firstname }} {{customer.customer.lastname}}
							td {{ customer.customer.phone }}
							td {{ customer.checkinTime | date:'dd/MM/yyyy' }}
							td {{ customer.checkinTime | date: 'shortTime' }}
							td {{ customer.orderline[0].productName	}}
							td
								button(type="button" class="warning button" ng-click="vm.ctrl.toggleCheckOutDiv ($index)") Checkout
							td
								button(type="button" class="alert button" ng-click="vm.ctrl.toggleCheckInEditDiv ($index)") Edit

//Invoice
div(ng-show='vm.model.dom.checkOutDiv' id='checkoutDiv')
	div(class='row column paddingT45')
		div(class="row column small-6 text-center small-push-3")
			h2 Invoice for {{vm.model.customer.checkoutCustomer.customer.lastname}} {{vm.model.customer.checkoutCustomer.customer.firstname}}
		// Profile
		div(class="row column small-6 small-push-3")
			div(class="borderT newBox row column")
				table(class="striped borderAll")
					thead
						tr
							th(class='text-center') Fields
							th(class='text-center') Information
					tbody
						tr
							td(class='text-center') Lastname
							td(class='text-center') {{ vm.model.customer.checkoutCustomer.customer.lastname}}
						tr
							td(class='text-center') Firstname
							td(class='text-center') {{ vm.model.customer.checkoutCustomer.customer.firstname}}
						tr
							td(class='text-center') Phone
							td(class='text-center') {{ vm.model.customer.checkoutCustomer.customer.phone}}
						tr

							td(class='text-center') Checkin Date
							td(class='text-center') {{ vm.model.customer.checkoutCustomer.checkinTime | date:'dd/MM/yyyy'}}
						tr

							td(class='text-center') Checkin Time
							td(class='text-center') {{ vm.model.customer.checkoutCustomer.checkinTime | date:'shortTime'}}
						tr(ng-repeat='service in vm.model.customer.checkoutCustomer.orderline')
							td(class='text-center') Service
							td(class='text-center') {{ service.productName}}
						tr

							td(class='text-center') Total Money
							td(class='text-center') {{ vm.model.customer.checkoutCustomer.total}}
			div(class="row column")
				div(class='column small-12 paddingLR0')
					input(class="button success" type="submit" value="Confirm" ng-click='vm.ctrl.confirmCheckout()')
					button(class="button float-right" ng-click='vm.ctrl.reload()') Cancel
	