div(ng-switch='vm.tab')
	//- Search and show all checked in page
	div(ng-switch-when='tab-search')
		div(class='row')
			div(class='small-12')
				p(class='pageTitle') {{vm.pageTitle}}
		div(class='row')
			form(class="input-group" ng-submit='vm.searchFunc()')
				input(class="input-group-field" type="text" ng-model='vm.searchInput')
				div(class="input-group-button")
					input(type="submit" class="button" value="Submit")
		div(class='searchResult')
			table
				tbody
					tr(ng-repeat = 'result in vm.results')
						td(ng-click='vm.toCheckin($index)' class='result') {{result.lastname}} {{result.firstname}}
		div(class='row')
			div(class='small-8 columns')
				label Filter
				select(id="select" required ng-model='vm.order')
					option(value="customers.firstname") Name
					option(value="checkinTime") Time
					option(value="orderline") Service
			div(class='small-4 columns')
				label Type
				select(id="select" required ng-model='vm.orderType')
					option(value="Ascending" ng-selected="selected") Ascending
					option(value="Decending") Decending
		table
			thead
				tr
					th(width='100') Stt
					th(width='200') Name
					th Date
					th Time
					th Service
					th(width='100') Checkout
					th(width='100') Edit
			tbody
				tr(ng-repeat="user in vm.userList | orderBy:vm.order")
					td {{$index + 1}}
					td {{user.customers.firstname}} {{user.customers.lastname}}
					td {{user.checkinTime | date:'dd/MM/yyyy'}}
					td {{user.checkinTime | date: 'shortTime'}}
					td
						div(ng-repeat='order in user.orderline')
							p {{order.productName}}
					td
						button(type="button" class="warning button" ng-click='vm.toCheckout($index)') Checkout
					td
						button(type="button" class="alert button" ng-click='vm.toEdit($index)') Edit
	//- Check in for customer
	div(ng-switch-when='tab-checkin')
		div(class='row')
			div(class='small-12')
				p(class='pageTitle') {{vm.pageTitle}}
		div(class='row')
			div(class='columns small-12 medium-12')
				table
					thead
						tr
							th(class='checkin-text') Title
							th(class='checkin-text') Details
					tbody(class='customer-detail')
						tr
							td(class='checkin-text') Name
							td(class='checkin-text') {{vm.user.firstname}} {{vm.user.lastname}}
						tr
							td(class='checkin-text') Birthday
							td(class='checkin-text') {{vm.user.birthday | date:'dd/MM/yyyy'}}
						tr
							td(class='checkin-text') Email
							td(class='checkin-text') {{vm.user.email}}
						tr
							td(class='checkin-text') Service
							td(class='checkin-text')
								select(ng-model='vm.ordername')
									option(value='Private-Room') Private Room
									option(value='Group-Room') Group Room
		div(class='row')
			div(class='columns small-2 medium-2 medium-offset-3')
				button(type="button" class="button" ng-click='vm.checkin()') Checkin
			div(class='columns small-2 medium-2 medium-offset-2 button-right')
				button(type="button" class="button" ng-click='vm.toSearch()') Back
	//- Checkout for customer
	div(ng-switch-when='tab-checkout')
		div(class='row')
			div(class='small-12')
				p(class='pageTitle') {{vm.pageTitle}}
		div(class='row')
			div(class='columns small-12 medium-12')
				table
					thead
						tr
							th(class='checkin-text') Title
							th(class='checkin-text') Details
					tbody(class='customer-detail')
						tr
							td(class='checkin-text') Name
							td(class='checkin-text') {{vm.oneOrder.customers.firstname}} {{vm.oneOrder.customers.lastname}}
						tr
							td(class='checkin-text') Products
							td(class='checkin-text red')
								div(ng-repeat='product in vm.oneOrder.orderline') {{product.productName}}
						tr
							td(class='checkin-text') Checkin Time
							td(class='checkin-text red') {{vm.oneOrder.checkinTime | date: 'shortTime'}}  --- {{vm.oneOrder.checkinTime | date: 'dd/MM/yyyy'}}
						tr
							td(class='checkin-text') Checkout Time
							td(class='checkin-text red') {{vm.outTime | date: 'shortTime'}}
						tr
							td(class='checkin-text') Total money
							td(class='checkin-text red') {{vm.oneOrder.service}}
		div(class='row')
			div(class='columns small-2 medium-2 medium-offset-3')
				button(type="button" class="button" ng-click='vm.checkout()') Checkout
			div(class='columns small-2 medium-2 medium-offset-2 button-right')
				button(type="button" class="button" ng-click='vm.toSearch()') Back
	//- Edit orders
	div(ng-switch-when='tab-edit')
		div(class='row')
			div(class='small-12')
				p(class='pageTitle') {{vm.pageTitle}}
		div(class='row')
			div(class='columns small-12 medium-4 medium-offset-4')
				table
					thead
						tr
							th Title
							th Details
					
					tbody(class='customer-detail')
						tr
							td Products
							td
								form
									div(ng-repeat='product in vm.productList')
										input(type='checkbox' value="product" checklist-model="vm.list" checklist-value="product")
										| {{product}}
		div(class='row')
			div(class='columns small-2 medium-2 medium-offset-3')
				button(type="button" class="button" ng-click='vm.saveEdit()') Save
			div(class='columns small-2 medium-2 medium-offset-2 button-right')
				button(type="button" class="button" ng-click='vm.toSearch()') Back