div(class='row')
	div(class='columns small-12 medium-4 medium-offset-4')
		table
			thead
				tr
					th Title
					th Details
			tbody(class='customer-detail')
				tr
					td Name
					td {{vm.user.firstname}} {{vm.user.lastname}}
				tr
					td Birthday
					td {{vm.user.birthday | date:'dd/MM/yyyy'}}
				tr
					td Email
					td {{vm.user.email}}
				tr
					td Service
					td
						select(ng-model='vm.ordername')
							option(value='Private-Room') Private Room
							option(value='Group-Room') Group Room
div(class='row')
	div(class='columns small-2 medium-1 medium-offset-4')
		button(type="button" class="button" ng-click='vm.checkin()') Checkin
	div(class='columns small-2 medium-6')
		a(href='/#!/')
			button(type="button" class="button") Cancel