div(class='row')
	div(class='columns small-12 medium-4 medium-offset-4')
		table
			thead
				tr
					th Title
					th Details
			
			tbody(class='customer-detail')
				tr
					td Products
					td
						form
							div
								input(type='checkbox' value='Private Room' id='private' ng-model='vm.checkboxModel1.value')
								label(for='#private') Private Room
							div
								input(type='checkbox' value='Group Room' id='group' ng-model='vm.checkboxModel2.value')
								label(for='#group') Group Room
							div
								input(type='checkbox' value='Soft Drink' id='group' ng-model='vm.checkboxModel3.value')
								label(for='#group') Soft Drink
							div
								input(type='checkbox' value='Group Room' id='group' ng-model='vm.checkboxModel4.value')
								label(for='#group') Food

div(class='row')
	div(class='columns small-2 medium-1 medium-offset-4')
		button(type="button" class="button" ng-click='vm.saveEdit()') Save
	div(class='columns small-2 medium-6')
		a(href='/#!/checkin')
			button(type="button" class="button") Cancel