form(class="input-group" ng-submit='vm.searchFunc()')
	input(class="input-group-field" type="text" ng-model='vm.searchInput')
	div(class="input-group-button")
		input(type="submit" class="button" value="Submit")
div(class='searchResult')
	table
		tbody
			tr(ng-repeat = 'result in vm.results')
				td(ng-click='vm.goToCustomer(result._id)') {{result.firstname}}
				td {{result.lastname}}

label Filter
select(id="select" required ng-model='order')
	option(value="name") Name
	option(value="time") Time
	option(value="service") Service
table
	thead
		tr
			th(width='100') Stt
			th(width='200') Name
			th Date
			th Time
			th Service
			th(width='100') Checkout
			th(width='100') Edit
	tbody
		tr(ng-repeat="user in vm.userList")
			td {{$index + 1}}
			td {{user.customers.firstname}} {{user.customers.lastname}}
			td {{user.checkinTime | date:'dd/MM/yyyy'}}
			td {{user.checkinTime | date: 'shortTime'}}
			td {{user.orderline[0].productName}}
			td
				a(href='#!/checkin/checkout')
					button(type="button" class="warning button" ng-click='vm.getIndex(user.customers._id)') Checkout
			td
				a(href='#!/checkin/edit')
					button(type="button" class="alert button" ng-click='vm.goToEdit($index)') Edit