<form class="input-group" ng-submit='vm.submit()'>
	<input class="input-group-field" type="text" ng-model='vm.text'>
	<div class="input-group-button">
		<input type="submit" class="button" value="Submit" >
	</div>
</form>

<label>
	Filter
</label>
<select id="select" required ng-model='order'>
	<option value="customers.firstname">Name</option>
	<option value="checkinTime">Time</option>
	<option value="orderline[0].productName">Service</option>}
</select>


<div>
	<table>
		<thead>
			<tr>
				<th>Stt</th>
				<th>Name</th>
				<th>Date</th>
				<th>Time</th>
				<th>Service</th>
				<th>Checkout</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in vm.userList | orderBy:order">
				<td>{{$index +1}}</td>
				<td>{{user.customers.firstname}} {{user.customers.lastname}}</td>
				<td>{{user.checkinTime | date:'dd/MM/yyyy'}}</td>
				<td>{{user.checkinTime | date:'mediumTime'}}</td>
				<td>{{user.orderline[0].productName}}</td>
				<td width="100"> 
					<button type="button" class="warning button">
						Checkout
					</button>
				</td>
				<td width="100">
					<button type="button" class="alert button">
						Edit
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>