h2= data.look.title

//div(ng-include='vm.other.messageTemplate')

div <message-widget message="vm.other.message" message-state="vm.other.messageState" message-div-id="{{ vm.other.messageDivId }}" id="{{ vm.other.messageDivId }}" data-toggler="is-hidden" data-closable class="is-hidden">

div(class='row column')
	p: button(class="button", data-open="addFormModal", ng-click="vm.getSelectedAsset('add')") Add

div(class="reveal" id="deleteFormModal" data-reveal="true")
	div(class="row")
		table
			thead
				tr
					- var assetNames = ['Name', 'Category', 'Quantity', 'Status'];
					- var twidth = ['30%', '10%', '10%', '10%'];
					- var assets = data.data;
					- var assetNum = data.data.length;
					- var assetNameNum = assetNames.length;
					- for (var i = 0; i < assetNameNum; i++)
						th(width=twidth[i])= assetNames[i]
			tbody
				tr
					td {{ vm.formData.name }}
					td {{ vm.formData.category }}
					td {{ vm.formData.quantity }}
					td {{ vm.formData.status }}

	div(class="row")
		div(class="button-group")
			<a class="button" ng-click="vm.deleteAsset()" data-close data-toggle="{{ vm.other.messageDivId }}">Delete</a>
			<a class="button float-right" data-close>Cancel</a>

div(class="reveal" id="addFormModal" data-reveal="true")
	form
		div(class="row")
			div(class="column small-3")
				label(for="assetNameInput", class="text-right middle") Name
			div(class="column small-9")
				input(type="text", placeholder="Asset name", id="assetNameInput", value="{{ vm.formData.name }}", ng-model="vm.formData.name")
		div(class="row")
			div(class="column small-3")
				label(for="assetCatInput", class="text-right middle") Category
			div(class="column small-9")
				input(type="text", placeholder="Category of the asset", name="category", id="assetCatInput", value="{{ vm.formData.category }}", ng-model="vm.formData.category")
		div(class="row")
			div(class="column small-3")
				label(for="assetQuantity", class="text-right middle") Quantity
			div(class="column small-9")
				input(type="text", placeholder="Asset quantity", id="assetQuantity", value="{{ vm.formData.quantity }}", ng-model="vm.formData.quantity")
		div(class="row")
			div(class="column small-3")
				label(for="assetStatus", class="text-right middle") Status
			div(class="column small-9")
				input(type="text", placeholder="Asset Status", id="assetStatus", value="{{ vm.formData.status }}", ng-model="vm.formData.status")
		div(class="row")
			div(class="column small-3")
				label(for="updateExplain", class="text-right middle") Reason to update
			div(class="column small-9")
				input(type="text", placeholder="Reason to update", id="updateExplain", value="{{ vm.formData.reason }}", ng-model="vm.formData.reason")
		div(class="row")
			div(class="button-group")
				<a class="button", ng-click="vm.updateAsset(vm.otherUpdateMode)" data-toggle="{{ vm.other.messageDivId }}" data-close> {{ vm.other.updateBtnName }} </a>
				<a class="button float-right" data-close> Cancel </a>									

table
	thead
		tr
			- var tableHeaderNames = ['Name', 'Category', 'Quantity', 'Status', 'Edit', 'Delete'];
			- var twidth = ['30%', '10%', '10%', '10%', '10%', '10%'];
			- var key = ['name', 'category', 'quantity', 'status'];
			- var d = data.data;
			- var rowNum = d.length;
			- var columnNum = tableHeaderNames.length;
			- for (var i = 0; i < columnNum; i++)
				th(width=twidth[i])= tableHeaderNames[i]
	tbody(id="{{ vm.other.assetDivId }}")
		tr(ng-repeat="asset in vm.assets", asset-widget, asset="asset", add-form-modal-id="{{ vm.other.addFormModalId }}", delete-form-modal-id="{{ vm.other.deleteFormModalId }}", index="{{ $index }}", delete-action="{{ vm.other.deleteActionName }}", edit-action="{{ vm.other.editActionName }}", asset-list-id="{{ vm.other.assetDivId }}", get-selected-asset="vm.getSelectedAsset (action, index)")