//- h2= data.look.title

//- //div(ng-include='vm.other.messageTemplate')

//- div <message-widget message="vm.other.message" message-state="vm.other.messageState" message-div-id="{{ vm.other.messageDivId }}" id="{{ vm.other.messageDivId }}" data-toggler="is-hidden" data-closable class="is-hidden">

//- div(class='row column')
//- 	p: button(class="button", data-open="addFormModal", ng-click="vm.getSelectedAsset('add')") Add

//- div(class="reveal" id="deleteFormModal" data-reveal="true")
//- 	div(class="row")
//- 		table
//- 			thead
//- 				tr
//- 					- var assetNames = ['Name', 'Category', 'Quantity', 'Status'];
//- 					- var twidth = ['30%', '10%', '10%', '10%'];
//- 					- var assets = data.data;
//- 					- var assetNum = data.data.length;
//- 					- var assetNameNum = assetNames.length;
//- 					- for (var i = 0; i < assetNameNum; i++)
//- 						th(width=twidth[i])= assetNames[i]
//- 			tbody
//- 				tr
//- 					td {{ vm.formData.name }}
//- 					td {{ vm.formData.category }}
//- 					td {{ vm.formData.quantity }}
//- 					td {{ vm.formData.status }}

//- 	div(class="row")
//- 		div(class="button-group")
//- 			<a class="button" ng-click="vm.deleteAsset()" data-close data-toggle="{{ vm.other.messageDivId }}">Delete</a>
//- 			<a class="button float-right" data-close>Cancel</a>

//- div(class="reveal" id="addFormModal" data-reveal="true")
//- 	form
//- 		div(class="row")
//- 			div(class="column small-3")
//- 				label(for="assetNameInput", class="text-right middle") Name
//- 			div(class="column small-9")
//- 				input(type="text", placeholder="Asset name", id="assetNameInput", value="{{ vm.formData.name }}", ng-model="vm.formData.name" required)
//- 		div(class="row")
//- 			div(class="column small-3")
//- 				label(for="assetCatInput", class="text-right middle") Category
//- 			div(class="column small-9")
//- 				input(type="text", placeholder="Category of the asset", name="category", id="assetCatInput", value="{{ vm.formData.category }}", ng-model="vm.formData.category")
//- 		div(class="row")
//- 			div(class="column small-3")
//- 				label(for="assetQuantity", class="text-right middle") Quantity
//- 			div(class="column small-9")
//- 				input(type="text", placeholder="Asset quantity", id="assetQuantity", value="{{ vm.formData.quantity }}", ng-model="vm.formData.quantity")
//- 		div(class="row")
//- 			div(class="column small-3")
//- 				label(for="assetStatus", class="text-right middle") Status
//- 			div(class="column small-9")
//- 				input(type="text", placeholder="Asset Status", id="assetStatus", value="{{ vm.formData.status }}", ng-model="vm.formData.status")
		
//- 		div(class="row")
//- 			<div ng-switch on="vm.other.updateBtnName">
//- 				<div ng-switch-when="Submit">
//- 					div(class="column small-3")
//- 						label(for="updateExplain", class="text-right middle") Reason to update
//- 					div(class="column small-9")
//- 						input(type="text", placeholder="Reason to update", id="updateExplain", value="{{ vm.formData.reason }}", ng-model="vm.formData.reason")
//- 				</div>
//- 			</div>
//- 		div(class="row")
//- 			div(class="button-group")
//- 				<input class="button", ng-click="vm.updateAsset(vm.otherUpdateMode)" data-toggle="{{ vm.other.messageDivId }}" type="submit" value="{{ vm.other.updateBtnName }}" data-close>
//- 				<a class="button float-right" data-close> Cancel </a>									

//- table
//- 	thead
//- 		tr
//- 			- var tableHeaderNames = ['Name', 'Category', 'Quantity', 'Status', 'Edit', 'Delete'];
//- 			- var twidth = ['30%', '10%', '10%', '10%', '10%', '10%'];
//- 			- var key = ['name', 'category', 'quantity', 'status'];
//- 			- var d = data.data;
//- 			- var rowNum = d.length;
//- 			- var columnNum = tableHeaderNames.length;
//- 			- for (var i = 0; i < columnNum; i++)
//- 				th(width=twidth[i])= tableHeaderNames[i]
//- 	tbody(id="{{ vm.other.assetDivId }}")
//- 		tr(ng-repeat="asset in vm.assets", asset-widget, asset="asset", add-form-modal-id="{{ vm.other.addFormModalId }}", delete-form-modal-id="{{ vm.other.deleteFormModalId }}", index="{{ $index }}", delete-action="{{ vm.other.deleteActionName }}", edit-action="{{ vm.other.editActionName }}", asset-list-id="{{ vm.other.assetDivId }}", get-selected-asset="vm.getSelectedAsset (action, index)")

//- div(ng-switch='vm.tab')
//- 	div(ng-switch-when='tab-search')
		
//- 	div(ng-switch-when='tab-create')
		
//- 	div(ng-switch-when='tab-profile')
		
//- 	div(ng-switch-when='tab-edit')
div(ng-switch='vm.tab')
	div(ng-switch-when='tab-main')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Add Asset
				// Create Account
				div(class="column")
					div(class="borderT newBox row column")
						form(class='row column')
							div(class='column small-12 paddingLR0')
								label Asset Name
									input(type='text' ng-model='vm.name' required)
							div(class='column small-12 paddingLR0')
								label Category
									input(required type='number' ng-model='vm.category')
							div(class='column small-12 paddingLR0')
								label Quantity
									input(required type='number' ng-model='vm.quantity')
							div(class='column small-12 paddingLR0')
								label Status
									input(required type='number' ng-model='vm.status')
						div(class="row column")
							div(class='column small-12 paddingLR0')
								input(class="button" type="submit" value="Create" ng-confirm-click='Are you sure to create new one' confirmed-click='vm.createNewAsset()')
								button(class="button float-right") Cancel
			div(class="row colums")
				div(class="column")
					h2 Asset List
				// Create Account
				div(class="row column")
					div(class="column small-12")
						ul(class="menu clearfix")
							li(class="float-right marginL15")
								<a class="button secondary" ng-click="vm.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
							li(class="float-right")
								ul(class="menu")
									li: label(class="paddingR15 show-for-large") Sort by
									li: select(class="")
											option(value="name") Name
											option(value="checkinTime") Check-in time
											option(value="status") Status
				div(class="column")
					div(class="borderT newBox row column")
						div(class="row column")
							form(ng-submit="vm.searchFunc()")
								div(class="row column")
									label Name
										input(type="text" placeholder="Enter name to search asset" ng-model='vm.searchInput')
								div(ng-show="vm.look.assetsSearchResultDiv" class="marginB15")
									div(class="table-scroll")
										table(class="hover unstriped borderAll")
											thead
												tr
													th No
													th Name
													th Category
													th Quantity
													th Status
											tbody
												tr(ng-repeat='result in vm.searchResult.assets', ng-click='vm.selectAssetToViewProfile($index)' class="pointerCursor")
													td {{ $index + 1 }}
													td {{ result.name }}
													td {{ result.category }}
													td {{ result.quantity }}
													td {{ result.status }}
		div(class='row column')

			div(class="column small-12 paddingLR0")
				div(class="table-scroll newBox")
					table(class="borderAll")
						thead
							tr
								th No
								th Name
								th Category
								th Quantity
								th Status
								th Edit
						tbody
							tr(ng-repeat='item in vm.look.allAssets')
								td {{$index + 1}}
								td {{item.name}}
								td {{item.category}}
								td {{item.quantity}}
								td {{item.status}}
								td
									button(type="button" class="alert button" ng-click='vm.selectAssetInListToViewProfile($index)') Edit
		//- ul(class='pagination' role='navigation' aria-label='Pagination')
		//- 	li(class='pagination-previous disabled') Previous
		//- 		span(class='show-for-sr') page
		//- 	li(class='current') 1
		//- 		span(class='show-for-sr')
		//- 	li
		//- 		a(href='#' aria-label='page-2') 2
		//- 	li
		//- 		a(href='#' aria-label='page-3') 3
		//- 	li
		//- 		a(href='#' aria-label='page-4') 4
		//- 	li(class="ellipsis" aria-hidden="true")
		//- 	li
		//- 		a(href='#' aria-label='page-10') 10
		//- 	li
		//- 		a(href='#' aria-label='page-11') 11
		//- 	li(class='pagination-next')
		//- 		a(href="#" aria-label="Next page") Next
		//- 			span(class='show-for-sr') page
	div(ng-switch-when='tab-profile')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Asset Details
				// Profile
				div(class="column")
					div(class="borderT newBox row column")
						table(class="striped borderAll")
							thead
								tr
									th(class='text-center') Fields
									th(class='text-center') Information
							tbody
								tr(ng-repeat='field in vm.look.fields')
									td(class='text-center') {{ field }}
									td(class='text-center') {{ vm.asset.info[field]}}
					div(class="row column")
						div(class='column small-12 paddingLR0')
							input(class="button warning" type="submit" value="Edit" ng-click='vm.toEdit()')
							button(class="button float-right" ng-click='vm.toMain()') Cancel
	div(ng-switch-when='tab-edit')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Edit Asset
				// Profile
				div(class="column")
					div(class="borderT newBox row column")
						table(class="striped borderAll")
							thead
								tr
									th(class='text-center') Fields
									th(class='text-center') Information
							tbody
								tr(ng-repeat='field in vm.look.fields')
									td(class='text-center') {{ field }}
									td
										input(ng-model= 'vm.asset.info[field]' type='text')
					div(class="row column")
						div(class='column small-12 paddingLR0')
							input(class="button warning" type="submit" value="Save" ng-confirm-click='Are you sure to save your edit' confirmed-click='vm.saveEdit()')
							button(class="button float-right" ng-click='vm.toMain()') Cancel