div(ng-switch='vm.tab')
	div(ng-switch-when='tab-main')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Booking List
				//Booking Toggle Button********************************************************//
				div(class="row column")
					div(class="column small-3")
						ul(class="menu")
							li
								a(class="button primary" ng-click="vm.toggleBookingDiv()") 
									<span class="show-for-large">Booking</span><i class="material-icons customIcon hide-for-large"> add</i>
					div(class="column small-9")
						ul(class="menu clearfix")
							li(class="float-right marginL15")
								<a class="button secondary" ng-click="vm.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
							li(class="float-right")
								ul(class="menu")
									li: label(class="paddingR15 show-for-large") Sort by
									li: select(ng-model="vm.model.orderBy" ng-options="key as value for (key , value) in vm.model.orderOptions")
				//Booking Toggle Content********************************************************//
				div(class="column")
					div(class="borderT newBox row column paddingLR0" ng-show='vm.look.bookingDiv')
						div(class="row column")
							//Search customer to book for them ********************************************************//
							form(ng-submit='vm.searchCustomer(); $event.preventDefault()')
								div(class="row column")
									label Phone/Email
										input(type="text" placeholder="Enter phone or email to search customer" ng-model='vm.customer.input')
						form(ng-submit='vm.createNewBooking()')
							div(ng-show="vm.look.customerSearchResultDiv" class="marginB15")
								div(class="table-scroll")
									table(class="hover unstriped borderAll")
										thead
											tr
												th No
												th Lastname
												th Middlename
												th Firstname
												th Email
												th Phone
										tbody
											tr(ng-repeat='result in vm.customer.results', ng-click='vm.selectCustomerToBook($index)' class="pointerCursor")
												td {{ $index + 1 }}
												td {{ result.lastname }}
												td {{ result.middlename }}
												td {{ result.firstname }}
												td {{ result.email }}
												td {{ result.phone }}
								div(class="row column")
									div(class='column small-12 paddingLR0')
										input(class="button warning" type="submit" value="Reset Search Results" ng-click='vm.resetSearch()')
							div(class='row column')
								div(class='column small-6 paddingL0')
									label Location
										select(name="selectedLocation" ng-model="vm.customer.location" ng-options="val.name for val in vm.data.locationNames")
								div(class='column small-6 paddingLR0')
									label Service
										select(name="selectedService" ng-model="vm.customer.service" ng-options="val.name for val in vm.data.serviceNames")
								div(class='column small-12 paddingLR0')
									label Quantity
										input(type="number" ng-model="vm.customer.quantity")
								
								div(class='column small-6 paddingL0')
									label Checkin Hour
										input(type='number' min='0' max='23' ng-model='vm.customer.intime.hour' required)
								div(class='column small-6 paddingR0')
									label Checkin Minute
										input(type='number' min='0' max='60' ng-model='vm.customer.intime.minute' required)
								div(class='column small-4 paddingL0')
									label Checkin Day
										input(type='number' min='1' max='31' ng-model='vm.customer.intime.day' required)
								div(class='column small-4 paddingL0')
									label Checkin Month
										input(type='number' min='1' max='12' ng-model='vm.customer.intime.month' required)
								div(class='column small-4 paddingR0')
									label Checkin Year
										input(type='number' ng-model='vm.customer.intime.year' required)

								div(class='column small-6 paddingL0')
									label Checkout Hour
										input(type='number' min='0' max='23' ng-model='vm.customer.outtime.hour')
								div(class='column small-6 paddingR0')
									label Checkout Minute
										input(type='number' min='0' max='60' ng-model='vm.customer.outtime.minute')
								div(class='column small-4 paddingL0')
									label Checkout Day
										input(type='number' min='1' max='31' ng-model='vm.customer.outtime.day')
								div(class='column small-4 paddingL0')
									label Checkout Month
										input(type='number' min='1' max='12' ng-model='vm.customer.outtime.month')
								div(class='column small-4 paddingR0')
									label Checkout Year
										input(type='number' ng-model='vm.customer.outtime.year')

								div(class='column small-12 paddingLR0')
									label Other requirements
										textarea(type='text' ng-model='vm.customer.message')
							div(class="row column")
								div(class='column small-12 paddingLR0')
									input(class="button success" type="submit" value="Add Booking")
									button(class="button float-right" ng-click='vm.reload(); event.preventDefault()') Cancel
				// Filter
				div(class="column")
					div(class="borderT newBox row column callout secondary")
						div(class="marginB15 column small-12 large-4")
							legend Status
							select(ng-model='vm.model.filter.status' ng-options='key as value for (key , value) in vm.model.statusOptions' ng-init='vm.model.filter.status=1')
								option
						div(class='marginB15 column small-12 large-4')
							legend Search By Firstname
							input(type='text' ng-model='vm.model.filter.customer.firstname')
						div(class='marginB15 column small-12 large-4')
							legend Search By Email
							input(type='text' ng-model='vm.model.filter.customer.email')
				//Search Booking********************************************************//
				//- div(class="column")
					div(class="borderT newBox row column")
						form(ng-submit="vm.searchBooking()")
							div(class="row column")
								label Name
									input(type="text" placeholder="Enter name to search booking" ng-model='vm.booking.input')
						div(ng-show="vm.look.bookingSearchResultDiv" class="marginB15")
							div(class="table-scroll")
								table(class="hover unstriped borderAll")
									thead
										tr
											th No
											th Name
											th Email
											th Checkin Time
											th Checkin Date
											th Status
											th Refuse
											th Customer Cancel
											th Accept
									tbody
										tr(ng-repeat='result in vm.booking.results')
											td {{ $index + 1 }}
											td {{ result.customer.lastname }} {{ result.customer.middlename }} {{ result.customer.firstname }}
											td {{ result.customer.email }}
											td {{ result.checkinTime | date:'shortTime'}}
											td {{ result.checkinTime | date:'dd/MM/yyyy'}}
											td(ng-if='result.status == 3') Waiting
											td(ng-if='result.status == 1') Accepted
											td(ng-if='result.status == 2') Refused
											td(ng-if='result.status == 4') Canceled
											td
												button(type="button" class="warning button" ng-click='vm.refuseBooking(result)') Refuse
											td
												button(type="button" class="alert button" ng-click='vm.cancelBooking(result)') Cancel
											td
												button(type="button" class="success button" ng-click='vm.acceptBooking(result)') Accept
				div(class="column")
					div(class="borderT newBox row column")
						div(class="marginB15")
							div(class="table-scroll")
								table(class="hover unstriped borderAll")
									thead
										tr
											th No
											th Name
											th Email
											th Booking Time
											th Booking Date
											th Status
											th Refuse
											th Customer Cancel
											th Accept
									tbody
										tr(ng-repeat='result in vm.booking.all.results | myfilter:vm.model.filter.status | orderBy: [vm.model.orderBy]')
											td {{ $index + 1 }}
											td {{ result.customer.lastname }} {{ result.customer.middlename }} {{ result.customer.firstname }}
											td {{ result.customer.email }}
											td {{ result.checkinTime | date:'shortTime'}}
											td {{ result.checkinTime | date:'dd/MM/yyyy'}}
											td(ng-if='result.status == 3') Waiting
											td(ng-if='result.status == 1') Accepted
											td(ng-if='result.status == 2') Refused
											td(ng-if='result.status == 4') Canceled
											td
												button(type="button" class="warning button" ng-click='vm.refuseBooking(result)') Refuse
											td
												button(type="button" class="alert button" ng-click='vm.cancelBooking(result)') Cancel
											td
												button(type="button" class="success button" ng-click='vm.acceptBooking(result)') Accept
	//- div(ng-switch-when='tab-profile')
	//- 	div(class="columns row")
	//- 		div(class="row colums")
	//- 			div(class="column")
	//- 				h2 Booking Details
	//- 			// Profile
	//- 			div(class="column")
	//- 				div(class="borderT newBox row column")
	//- 					table(class="striped borderAll")
	//- 						thead
	//- 							tr
	//- 								th(class='text-center') Fields
	//- 								th(class='text-center') Information
	//- 						tbody
	//- 							tr
	//- 								td(class='text-center') Name
	//- 								td(class='text-center') {{vm.booking.customer.lastname}} {{vm.booking.customer.firstname}}
	//- 							tr
	//- 								td(class='text-center') Email
	//- 								td(class='text-center') {{vm.booking.customer.email}}
	//- 							tr
	//- 								td(class='text-center') Product
	//- 								td(class='text-center') {{vm.booking.productName}}
	//- 				div(class="row column")
	//- 					div(class='column small-12 paddingLR0')
	//- 						input(class="button warning" type="submit" value="Edit" ng-click='vm.toEdit()')
	//- 						button(class="button float-right" ng-click='vm.toMain()') Cancel
	//- div(ng-switch-when='tab-edit')
	//- 	div(class="columns row")
	//- 		div(class="row colums")
	//- 			div(class="column")
	//- 				h2 Edit Booking
	//- 			// Profile
	//- 			div(class="column")
	//- 				div(class="borderT newBox row column")
	//- 					table(class="striped borderAll")
	//- 						thead
	//- 							tr
	//- 								th(class='text-center') Fields
	//- 								th(class='text-center') Information
	//- 						tbody
	//- 							tr
	//- 								td(class='text-center') Product
	//- 								td(class='text-center')
	//- 									input(class='column small-12 paddingLR0' ng-model='vm.booking.productName' type='text')
	//- 							tr
	//- 								td(class='text-center') Status
	//- 								td(class='text-center')
	//- 									input(class='column small-12 paddingLR0' ng-model='vm.booking.status' type='text')
	//- 							tr
	//- 								td(class='text-center') Checkin Time
	//- 								td(class='text-center')
	//- 									input(class='column small-12 paddingLR0' ng-model='vm.booking.checkinTime' type='text')
	//- 				div(class="row column")
	//- 					div(class='column small-12 paddingLR0')
	//- 						input(class="button warning" type="submit" value="Save" ng-confirm-click='Are you sure to save your edit' confirmed-click='vm.saveEdit()')
	//- 						button(class="button float-right" ng-click='vm.toMain()') Cancel