div(ng-switch='vm.tab')
	div(ng-switch-when='tab-main')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Add Booking
				// Create Account
				div(class="column")
			div(class="borderT newBox row column")
				div(class="row column")
					form(ng-submit='vm.searchCustomer()')
						div(class="row column")
							label Phone/Email
								input(type="text" placeholder="Enter phone or email to search customer" ng-model='vm.customer.input')
					div(ng-show="vm.look.customerSearchResultDiv" class="marginB15")
						div(class="table-scroll")
							table(class="hover unstriped borderAll")
								thead
									tr
										th No
										th Firstname
										th Lastname
										th Email
										th Phone
								tbody
									tr(ng-repeat='result in vm.customer.results', ng-click='vm.selectCustomerToBook($index)' class="pointerCursor")
										td {{ $index + 1 }}
										td {{ result.firstname }}
										td {{ result.lastname }}
										td {{ result.email }}
										td {{ result.phone }}
				div(class='row column')
					div(class='column small-6 paddingL0')
						label Location
							select(name="selectedService")
					div(class='column small-6 paddingR0')
						label Service
							select(name="selectedService")
				div(class='row column')
					div(class='column small-6 paddingL0')
						label DateTime
							input(type='text' date-picker='' format="dd.mm.yyyy" ng-model='vm.customer.checkinTime')
				div(class="row column")
					div(class='column small-12 paddingLR0')
						input(class="button" value="Booking" ng-click='vm.createNewBooking()')
						button(class="button float-right") Cancel
			div(class="row colums")
				div(class="column")
					h2 Booking List
				// Create Account
				div(class="row column")
					div(class="column small-12")
						ul(class="menu clearfix")
							li(class="float-right marginL15")
								<a class="button secondary" ng-click="vm.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
							li(class="float-right")
								ul(class="menu")
									li: label(class="paddingR15 show-for-large") Sort by
									li: select(class="")
											option(value="name") Name
											option(value="checkinTime") Check-in time
											option(value="status") Status
				div(class="column")
					div(class="borderT newBox row column")
						div(class="row column")
							form(ng-submit="vm.searchBooking()")
								div(class="row column")
									label Name
										input(type="text" placeholder="Enter name to search asset" ng-model='vm.booking.input')
								div(ng-show="vm.look.bookingSearchResultDiv" class="marginB15")
									div(class="table-scroll")
										table(class="hover unstriped borderAll")
											thead
												tr
													th No
													th Firstname
													th Lastname
													th Email
													th Phone
													th Edit
													th Delete
													th Checkin
											tbody
												tr(ng-repeat='result in vm.booking.results' class="pointerCursor")
													td {{ $index + 1 }}
													td {{ result.firstname }}
													td {{ result.lastname }}
													td {{ result.email }}
													td {{ result.phone }}
													td
														button(type="button" class="warning button" ng-click='vm.selectBookingToViewProfile($index)') Edit
													td
														button(type="button" class="alert button" ng-click='vm.selectBookingToDelete($index)') Delete
													td
														button(type="button" class="success button" ng-click='vm.selectBookingToCheckin($index)') Checkin
		div(class='row column')
			div(class="column small-12 paddingLR0")
				div(class="table-scroll newBox")
					table(class="borderAll")
						thead
							tr
								th No
								th Name
								th Email
								th Phone
								th Checkin Time
								th Edit
								th Delete
								th Checkin
						tbody
							tr(ng-repeat='item in vm.look.allBooking')
								td {{$index + 1}}
								td {{item.lastname}} {{item.firstname}}
								td {{item.email}}
								td {{item.phone}}
								td {{item.checkinTime}}
								td
									button(type="button" class="warning button" ng-click='vm.selectBookingToViewProfile($index)') Edit
								td
									button(type="button" class="alert button" ng-click='vm.selectBookingToDelete($index)') Delete
								td
									button(type="button" class="success button" ng-click='vm.selectBookingToCheckin($index)') Checkin
	//- div(ng-switch-when='tab-profile')
	//- 	div(class="columns row")
	//- 		div(class="row colums")
	//- 			div(class="column")
	//- 				h2 Asset Details
	//- 			// Profile
	//- 			div(class="column")
	//- 				div(class="borderT newBox row column")
	//- 					table(class="striped borderAll")
	//- 						thead
	//- 							tr
	//- 								th(class='text-center') Fields
	//- 								th(class='text-center') Information
	//- 						tbody
	//- 							tr(ng-repeat='field in vm.look.fields')
	//- 								td(class='text-center') {{ field }}
	//- 								td(class='text-center') {{ vm.asset.info[field]}}
	//- 				div(class="row column")
	//- 					div(class='column small-12 paddingLR0')
	//- 						input(class="button warning" type="submit" value="Edit" ng-click='vm.toEdit()')
	//- 						button(class="button float-right" ng-click='vm.toMain()') Cancel
	//- div(ng-switch-when='tab-edit')
	//- 	div(class="columns row")
	//- 		div(class="row colums")
	//- 			div(class="column")
	//- 				h2 Edit Asset
	//- 			// Profile
	//- 			div(class="column")
	//- 				div(class="borderT newBox row column")
	//- 					table(class="striped borderAll")
	//- 						thead
	//- 							tr
	//- 								th(class='text-center') Fields
	//- 								th(class='text-center') Information
	//- 						tbody
	//- 							tr(ng-repeat='field in vm.look.fields')
	//- 								td(class='text-center') {{ field }}
	//- 								td
	//- 									input(ng-model= 'vm.asset.info[field]' type='text')
					div(class="row column")
						div(class='column small-12 paddingLR0')
							input(class="button warning" type="submit" value="Save" ng-click='vm.saveEdit()')
							button(class="button float-right" ng-click='vm.toMain()') Cancel