h2= data.look.title
p: button(class="button", data-open="addFormModal", ng-click="vm.resetFormData()") Add

div(class="reveal" id="deleteFormModal" data-reveal="true")
	div(class="row")
		table
			thead
				tr
				- var tableHeaderNames = ['Category', 'Amount', 'Describe', 'Created At', 'Updated At'];
				- var twidth = ['20%', '10%', '20%', '15%', '15%'];
				- var columnNum = tableHeaderNames.length;
				- for (var i = 0; i < columnNum; i++)
					th(width=twidth[i])= tableHeaderNames[i]
			tbody
				tr
					td {{ vm.formData.costType }}
					td {{ vm.formData.amount }}
					td {{ vm.formData.desc }}
					td {{ vm.formData.createdAt }}
					td {{ vm.formData.updatedAt }}

	div(class="row")
		div(class="button-group")
			a(class="button") Delete
			a(class="button float-right") Cancel

div(class="reveal" id="addFormModal" data-reveal="true")
	form
		div(class="row")
			div(class="column small-3")
				label(for="costCategory", class="text-right middle") Category
			div(class="column small-9")
				input(type="text", placeholder="Category of the cost", id="costCategory", value="{{ vm.formData.costType }}")
		div(class="row")
			div(class="column small-3")
				label(for="costAmount", class="text-right middle") Amount
			div(class="column small-9")
				input(type="text", placeholder="Cost amount", id="costAmount", value="{{ vm.formData.amount }}")
		div(class="row")
			div(class="column small-3")
				label(for="costDesc", class="text-right middle") Describe
			div(class="column small-9")
				input(type="text", placeholder="Descibe cost", id="costDesc", value="{{ vm.formData.desc }}")
		div(class="row")
			div(class="column small-3")
				label(for="updateExplain", class="text-right middle") Reason to update
			div(class="column small-9")
				input(type="text", placeholder="Reason to update", id="updateExplain", value="{{ vm.formData.reason }}")
		div(class="row")
			div(class="button-group")
				a(class="button") Create
				a(class="button float-right") Cancel									
table
	thead
		tr
			- var tableHeaderNames = ['Category', 'Amount', 'Describe', 'Created At', 'Updated At', 'Edit', 'Delete'];
			- var twidth = ['20%', '10%', '20%', '15%', '15%', '10%', '10%'];
			- var d = data.data;
			- var key = ['costType', 'amount', 'desc', 'createdAt', 'updatedAt'];
			- var rowNum = d.length;
			- var columnNum = tableHeaderNames.length;
			- for (var i = 0; i < columnNum; i++)
				th(width=twidth[i])= tableHeaderNames[i]
	tbody
		tr(ng-repeat="c in vm.costs")
			td {{ c.costType }}
			td {{ c.amount | currency: ""}}
			td {{ c.desc }}
			td {{ c.createdAt | date: "dd MMM yyyy" }}
			td {{ c.updatedAt | date: "dd-mm-yyyy" }}
			td: a(class="button warning", data-open="addFormModal", ng-click="vm.getFormData($index)") Edit
			td: a(class="button alert", data-open="deleteFormModal", ng-click="vm.getFormData($index)") Delete