div(ng-switch='vm.tab')
	div(ng-switch-when='tab-main')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Customer List
				// Create Account
				div(class="row column")
					div(class="column small-3")
						ul(class="menu")
							li
								a(class="button secondary" ng-click="vm.ctrl.toggleCreateCustomerDiv()") 
									span(class="show-for-large") Add New Customer
									i(class="material-icons customIcon hide-for-large") add
					div(class="column small-9")
						ul(class="menu clearfix")
							li(class="float-right marginL15")
								<a class="button secondary" ng-click="vm.ctrl.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
							li(class="float-right")
								ul(class="menu")
									li: label(class="paddingR15 show-for-large") Sort by
									li: select(class="" ng-model='vm.model.sorting.customerListOrder')
											option(value="firstname") Firstname
											option(value="lastname") Lastname
											option(value="email") Email
											option(value="phone") Phone
				div(class="column" ng-show='vm.model.dom.CreateCustomerDiv')
					form(class="borderT newBox row column callout secondary" ng-submit='vm.ctrl.createNewCustomer()' confirm-submit ='Are you sure to Create New Customer')
						ul(class="menu vertical row column")
							li(class="marginB15")
								div(class="column small-4 paddingTB15")
									label Lastname
										input(type="text" ng-model='vm.model.customer.newCustomerData.lastname' required)
								div(class="column small-4 paddingTB15")
									label Middle name
										input(type="text" ng-model='vm.model.customer.newCustomerData.middlename')
								div(class="column small-4 paddingTB15")
									label Firstname
										input(type="text" ng-model='vm.model.customer.newCustomerData.firstname' required)
								div(class="column small-12 paddingTB15")
									label Gender
										select(ng-model='vm.model.customer.newCustomerData.gender' required ng-options="key as value for (key , value) in {1: 'Male',2: 'Female',3: 'Others'}")
								div(class="column small-4 paddingTB15")
									label Day
										input(type="number" ng-model='vm.model.input.day' required min='1' max='31')
								div(class="column small-4 paddingTB15")
									label Month
										input(type="number" ng-model='vm.model.input.month' required min='1' max='12')
								div(class="column small-4 paddingTB15")
									label Year
										input(type="number" ng-model='vm.model.input.year' required min='1900' max='2020')

								div(class="column small-12 paddingTB15")
									label Phone
										input(type="text" ng-model='vm.model.customer.newCustomerData.phone' required)
								div(class="column small-12 paddingTB15")
									label Email
										input(type="text" ng-model='vm.model.customer.newCustomerData.email')
								div(class="column small-12 paddingTB15")
									label School/ University
										input(type="text" ng-model='vm.model.customer.newCustomerData.edu.school')
								div(class="column small-12 paddingTB15")
									label Title at school/university
										select(ng-model='vm.model.customer.newCustomerData.edu.title' required ng-options="key as value for (key , value) in vm.model.customer.selectCustomerTitleConvert")
								//- div(class="column small-12 ")
								//- 	label Start at University
								//- 		input(type="number" min='1900' max='2020' ng-model='vm.model.input.start')
								//- div(class="column small-12")
								//- 	label End at University
								//- 		input(type="number" min='1900' max='2020' ng-model='vm.model.input.end')

						div(class="row column paddingT15 paddingL15")
							input(class="button" type="submit" value="Submit")
				div(class="column")
					div(class="borderT newBox row column")
						div(class="row column")
							form(ng-submit="vm.ctrl.searchFunc()")
								div(class="row column")
									label Phone/Email
										input(type="text" placeholder="Enter phone or email to search customer" ng-model='vm.model.search.input')
								div(ng-show="vm.model.dom.customerSearchResultDiv" class="marginB15")
									div(class="table-scroll")
										table(class="hover unstriped borderAll")
											thead
												tr
													th No
													th Last Name
													th First Name
													th Email
													th Phone
													th Created At				
											tbody
												tr(ng-repeat='result in vm.model.search.customerList | orderBy:vm.model.sorting.customerListOrder', ng-click='vm.ctrl.selectCustomerToViewProfile($index)' class="pointerCursor")
													td {{ $index + 1 }}
													td {{ result.lastname }}
													td {{ result.firstname }}
													td {{ result.email[0] }}
													td {{ result.phone[0] }}
													td {{ result.createdAt | date: "shortTime" }}  -  {{ result.createdAt | date: "dd MMM yyyy" }}	
	div(ng-switch-when='tab-profile')
		div(class="columns row")
			div(class="column")
				h2 Customer Profile
			// Profile
			div(class="column")
				div(class="borderT newBox row column")
					table(class="striped borderAll")
						thead
							tr
								th(class='text-center') Fields
								th(class='text-center') Information
						tbody
							tr
								td(class='text-center') Lastname
								td(class='text-center') {{ vm.model.customer.profile.lastname}}
							tr
								td(class='text-center') Middle name
								td(class='text-center') {{ vm.model.customer.profile.middlename}}
							tr
								td(class='text-center') Firstname
								td(class='text-center') {{ vm.model.customer.profile.firstname}}
							tr
								td(class='text-center') Phone
								td(class='text-center') {{ vm.model.customer.profile.phone[0]}}
							tr
								td(class='text-center') Email
								td(class='text-center') {{ vm.model.customer.profile.email[0]}}
							tr
								td(class='text-center') University/School
								td(class='text-center') {{ vm.model.customer.profile.edu[0].school}}
							tr
								td(class='text-center') Title at School/University
								td(class='text-center') {{vm.model.customer.selectCustomerTitleConvert[vm.model.customer.profile.edu[0].title]}}
							tr
								td(class='text-center') Start at School/University
								td(class='text-center') {{ vm.model.customer.profile.edu[0].start | date:'yyyy'}}
							tr
								td(class='text-center') End at School/University
								td(class='text-center') {{ vm.model.customer.profile.edu[0].end | date:'yyyy'}}
				div(class="row column")
					div(class='column small-12 paddingLR0')
						input(class="button warning" type="submit" value="Edit" ng-click='vm.ctrl.toEdit()')
						button(class="button float-right" ng-click='vm.ctrl.toMain()') Cancel
	div(ng-switch-when='tab-edit')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Edit Profile
				// Profile
				form(class="column" ng-submit='vm.ctrl.saveEdit()')
					div(class="borderT newBox row column")
						table(class="striped borderAll")
							thead
								tr
									th(class='text-center') Fields
									th(class='text-center') Information
							tbody
								tr
									td(class='text-center') Lastname
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.lastname')
								tr
									td(class='text-center') Middlename
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.middlename')
								tr
									td(class='text-center') Firstname
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.firstname')
								tr
									td(class='text-center') Email
									td(class='text-center')
										input(type='email' ng-model='vm.model.customer.editProfile.email[0]')
								tr
									td(class='text-center') Phone
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.phone[0]')
								tr
									td(class='text-center') University/School
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.edu[0].school')
								//- tr
								//- 	td(class='text-center') Title at School/University
								//- 	td(class='text-center')
								//- 		select(ng-model='vm.model.customer.editProfile.edu[0].title' required ng-options="key as value for (key , value) in {1: 'Undergraduate',2: 'Graduate',3: 'Doctorate'}")
								//- tr
								//- 	td(class='text-center') Start
								//- 	td(class='text-center')
								//- 		input(type='date' value='{{ vm.model.customer.editProfile.edu[0].start}}' ng-model='vm.model.customer.editProfile.edu[0].start')
								//- tr
								//- 	td(class='text-center') End
								//- 	td(class='text-center')
								//- 		input(type='date' value='{{ vm.model.customer.editProfile.edu[0].end}}' ng-model='vm.model.customer.editProfile.edu[0].end')
					div(class="row column")
						div(class='column small-12 paddingLR0')
							input(class="button warning" type="submit" value="Save")
							button(class="button float-right" ng-click='vm.ctrl.toMain()') Cancel