div(ng-switch='vm.tab')
	div(ng-switch-when='tab-main')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Customer List
				// Create Account
				div(class="row column")
					div(class="column small-3")
						ul(class="menu")
							li
								a(class="button" ng-click="vm.ctrl.toggleCreateCustomerDiv()") 
									span(class="show-for-large") Add New Customer
									i(class="material-icons customIcon hide-for-large") add
					//- div(class="column small-9")
					//- 	ul(class="menu clearfix")
					//- 		li(class="float-right marginL15")
					//- 			<a class="button secondary" ng-click="vm.ctrl.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
					//- 		li(class="float-right")
					//- 			ul(class="menu")
					//- 				li: label(class="paddingR15 show-for-large") Sort by
					//- 				li: select(class="" ng-model='vm.model.sorting.customerListOrder')
					//- 						option(value="firstname") Firstname
					//- 						option(value="lastname") Lastname
					//- 						option(value="email") Email
					//- 						option(value="phone") Phone
				div(class="column" ng-show='vm.model.dom.CreateCustomerDiv')
					form(class="borderT newBox row column" ng-submit='vm.ctrl.confirmCreateNewCustomer()')
						div(class=" row column")
							div(class="column small-4 paddingTB15 paddingL0")
								label Lastname
									input(type="text" ng-model='vm.model.newCustomer.lastname')
							div(class="column small-4 paddingTB15")
								label Middle name
									input(type="text" ng-model='vm.model.newCustomer.middlename')
							div(class="column small-4 paddingTB15 paddingR0")
								label Firstname
									input(type="text" ng-model='vm.model.newCustomer.firstname')
						div(class=" row column")
							div(class="column small-3 paddingTB15 paddingL0")
								label Gender
									select(ng-model='vm.model.newCustomer.gender' ng-options="key as value for (key , value) in {1: 'Male',2: 'Female',3: 'Others'}")
							div(class="column small-3 paddingTB15 paddingR0")
								label Birthday
									input(type="date" ng-model='vm.model.newCustomer.birthday')
						div(class=" row column")
							div(class="column small-3 paddingTB15 paddingL0 ")
								label Email
									input(type="text" ng-model='vm.model.newCustomer.email[0]')
							div(class="column small-3 paddingTB15 paddingR0")
								label Phone
									input(type="text" ng-model='vm.model.newCustomer.phone[0]')
						div(class=" row column")
							div(class="column small-4 paddingTB15 paddingL0")
								label School/ University
									select(ng-model='vm.model.newCustomer.edu.school' ng-options="val for val in vm.model.customer.selectSchools")
							div(class="column small-4 paddingTB15")
								label Other Schools/Universities
									input(type="text" ng-model='vm.model.customer.otherSchool')
							div(class="column small-4 paddingTB15 paddingR0")
								label Title at school/university
									select(ng-model='vm.model.newCustomer.edu.title' ng-options="key as value for (key , value) in vm.model.customer.selectCustomerTitleConvert")
							//- div(class="column small-12 ")
							//- 	label Start at University
							//- 		input(type="number" min='1900' max='2020' ng-model='vm.model.input.start')
							//- div(class="column small-12")
							//- 	label End at University
							//- 		input(type="number" min='1900' max='2020' ng-model='vm.model.input.end')

						div(class="row column paddingT15")
							input(class="button" type="submit" value="Submit")
				//div(class="column")
					div(class="borderT newBox row column")
						div(class="row column")
							form(ng-submit="vm.ctrl.searchFunc()")
								div(class="row column")
									label Phone/Email
										input(type="text" placeholder="Enter phone or email to search customer" ng-model='vm.model.search.input')
								div(ng-show="vm.model.dom.customerSearchResultDiv" class="marginB15")
									div(class="table-scroll")
										table(class="hover unstriped borderAll")
											thead
												tr
													th No
													th Last Name
													th First Name
													th Email
													th Phone
													th Created At				
											tbody
												tr(ng-repeat='result in vm.model.search.customerList | orderBy:vm.model.sorting.customerListOrder', ng-click='vm.ctrl.selectCustomerToViewProfile($index)' class="pointerCursor")
													td {{ $index + 1 }}
													td {{ result.lastname }}
													td {{ result.firstname }}
													td {{ result.email[0] }}
													td {{ result.phone[0] }}
													td {{ result.createdAt | date: "shortTime" }}  -  {{ result.createdAt | date: "dd MMM yyyy" }}	
	//div(ng-switch-when='tab-profile')
		div(class="columns row")
			div(class="column")
				h2 Customer Profile
			// Profile
			div(class="column")
				div(class="borderT newBox row column")
					table(class="striped borderAll")
						thead
							tr
								th(class='text-center') Fields
								th(class='text-center') Information
						tbody
							tr
								td(class='text-center') Lastname
								td(class='text-center') {{ vm.model.customer.profile.lastname}}
							tr
								td(class='text-center') Middle name
								td(class='text-center') {{ vm.model.customer.profile.middlename}}
							tr
								td(class='text-center') Firstname
								td(class='text-center') {{ vm.model.customer.profile.firstname}}
							tr
								td(class='text-center') Phone
								td(class='text-center') {{ vm.model.customer.profile.phone[0]}}
							tr
								td(class='text-center') Email
								td(class='text-center') {{ vm.model.customer.profile.email[0]}}
							tr
								td(class='text-center') University/School
								td(class='text-center') {{ vm.model.customer.profile.edu[0].school}}
							tr
								td(class='text-center') Title at School/University
								td(class='text-center') {{vm.model.customer.selectCustomerTitleConvert[vm.model.customer.profile.edu[0].title]}}
							tr
								td(class='text-center') Start at School/University
								td(class='text-center') {{ vm.model.customer.profile.edu[0].start | date:'yyyy'}}
							tr
								td(class='text-center') End at School/University
								td(class='text-center') {{ vm.model.customer.profile.edu[0].end | date:'yyyy'}}
				div(class="row column")
					div(class='column small-12 paddingLR0')
						input(class="button warning" type="submit" value="Edit" ng-click='vm.ctrl.toEdit()')
						button(class="button float-right" ng-click='vm.ctrl.toMain()') Cancel
	//div(ng-switch-when='tab-edit')
		div(class="columns row")
			div(class="row colums")
				div(class="column")
					h2 Edit Profile
				// Profile
				form(class="column" ng-submit='vm.ctrl.saveEdit()')
					div(class="borderT newBox row column")
						table(class="striped borderAll")
							thead
								tr
									th(class='text-center') Fields
									th(class='text-center') Information
							tbody
								tr
									td(class='text-center') Lastname
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.lastname')
								tr
									td(class='text-center') Middlename
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.middlename')
								tr
									td(class='text-center') Firstname
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.firstname')
								tr
									td(class='text-center') Email
									td(class='text-center')
										input(type='email' ng-model='vm.model.customer.editProfile.email[0]')
								tr
									td(class='text-center') Phone
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.phone[0]')
								tr
									td(class='text-center') University/School
									td(class='text-center')
										input(type='text' ng-model='vm.model.customer.editProfile.edu[0].school')
								//- tr
								//- 	td(class='text-center') Title at School/University
								//- 	td(class='text-center')
								//- 		select(ng-model='vm.model.customer.editProfile.edu[0].title' required ng-options="key as value for (key , value) in {1: 'Undergraduate',2: 'Graduate',3: 'Doctorate'}")
								//- tr
								//- 	td(class='text-center') Start
								//- 	td(class='text-center')
								//- 		input(type='date' value='{{ vm.model.customer.editProfile.edu[0].start}}' ng-model='vm.model.customer.editProfile.edu[0].start')
								//- tr
								//- 	td(class='text-center') End
								//- 	td(class='text-center')
								//- 		input(type='date' value='{{ vm.model.customer.editProfile.edu[0].end}}' ng-model='vm.model.customer.editProfile.edu[0].end')
					div(class="row column")
						div(class='column small-12 paddingLR0')
							input(class="button warning" type="submit" value="Save")
							button(class="button float-right" ng-click='vm.ctrl.toMain()') Cancel


//Confirm Create new customer
div(ng-show='vm.model.dom.confirmCreateDiv' id='checkoutDiv')
	div(class='row column paddingT15')
		div(class='row coumn header-invoice-img text-center')
			img(src='/img/logo.png')
		div(class='row coumn header-invoice text-center')
			h4 Địa chỉ: Số nhà 70, ngách 23, ngõ 82, Chùa Láng, Láng Thượng, Đống Đa, Hà Nội
			h4 Liên hệ: 097 785 55 94
			h4 Website: greenspace-cw.com
		form(class="row column small-12 large-6 large-push-3 invoice" ng-submit='vm.ctrl.createNewCustomer()')
			div(class='priceSection')
				div(class="row column")
					div(class='row column paddingB15')
						div(class='column small-6 text-right')
							p Fullname
						div(class='column small-6 greenBorder')
							p {{ vm.model.newCustomer.lastname}} {{ vm.model.newCustomer.middlename}} {{ vm.model.newCustomer.firstname}}
					div(class='row column paddingB15')
						div(class='column small-6 text-right')
							p Gender
						div(class='column small-6 greenBorder')
							p {{ vm.model.customer.genders[vm.model.newCustomer.gender]}}
					div(class='row column paddingB15')
						div(class='column small-6 text-right')
							p Birthday
						div(class='column small-6 greenBorder')
							p {{ vm.model.newCustomer.birthday | date:'dd/MM/yyyy'}}
					div(class='row column paddingB15')
						div(class='column small-6 text-right')
							p Email
						div(class='column small-6 greenBorder')
							p {{ vm.model.newCustomer.email[0]}}
					div(class='row column paddingB15')
						div(class='column small-6 text-right')
							p Phone
						div(class='column small-6 greenBorder')
							p {{ vm.model.newCustomer.phone[0]}}
					div(class='row column paddingB15')
						div(class='column small-6 text-right')
							p School
						div(class='column small-6 greenBorder')
							p {{ vm.model.newCustomer.edu.school}}
					div(class='row column paddingB15')
						div(class='column small-6 text-right')
							p Job
						div(class='column small-6 greenBorder')
							p {{ vm.model.customer.selectCustomerTitleConvert[vm.model.newCustomer.edu.title]}}
					
			div(class="row column")
				div(class='column small-12 large-paddingLR0')
					input(class="paddingL15 button primary" type="submit" value="Confirm")
					button(class=" paddingR15 button float-right secondary" ng-click='vm.ctrl.reset(); $event.preventDefault()') Cancel

//Announce create successfull
div(id='announceCreateSuccessfull' class='reveal small column row' data-reveal data-animation-in="slide-in-down fast")
	div(class=' text-center paddingTB15 marginB15')
		h5 Bạn đã tạo tài khoản thành công!
	button(class="close-button"  data-close='' aria-label="Close modal" type="button")
			span(aria-hidden="true") &times;

//Announce create fail
div(id='announceCreateFail' class='reveal small column row' data-reveal data-animation-in="slide-in-down fast")
	div(class=' text-center paddingTB15 marginB15')
		h5 Bạn đã tạo tài khoản không thành công. Hãy thử lại!
	button(class="close-button"  data-close='' aria-label="Close modal" type="button")
			span(aria-hidden="true") &times;