div(class="columns row")
	div(class="small-12 column")
		h2 {{vm.model.dom.data.selected.title}}
	
	// SETTING
	div(class="row column")
		div(class="column small-3")
			ul(class="menu")
				li
					a(class="button primary" ng-click="vm.ctrl.toggleDepositDiv()") 
						span(class="show-for-large") Make a deposit
						i(class="material-icons customIcon hide-for-large") add
		// FILTER CONTROLLER
		div(class="column small-9")
			ul(class="menu clearfix")
				li(class="float-right marginL15")
					<a class="button primary" ng-click="vm.ctrl.seeMore()"><span class="show-for-large">{{vm.model.dom.data.selected.seeMoreBtn}}</span><i class="material-icons customIcon hide-for-large">{{vm.model.dom.data.selected.seeMoreBtnIcon}}</i></a>
				li(class="float-right marginL15")
					<a class="button primary" ng-click="vm.ctrl.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
				li(class="float-right")
					ul(class="menu")
						li: label(class="paddingR15 show-for-large") {{ vm.model.dom.data.selected.sorting.label}}
						li: select(ng-model="vm.model.filter.orderBy" ng-options="key as value for (key , value) in vm.model.filter.orderOptions" ng-init='vm.model.filter.orderBy="checkinTime"')
	
	// FILTER 
	//div(class="column" ng-show="vm.model.dom.filterDiv")
		div(class="borderT newBox row column")
			div(class='marginB15 column small-12 large-9 paddingLR0 large-paddingR15')
				legend {{ vm.model.dom.data.selected.filter.username}}
				input(type='text' ng-model='vm.model.filter.others.customer.username' ng-change='vm.ctrl.filterPaginate()')
			div(class="marginB15 column small-12 large-3 paddingLR0 large-paddingL15")
				legend {{ vm.model.dom.data.selected.filter.status}}
				select(ng-model='vm.model.filter.myfilter.status' ng-options='status.value as status.label for status in vm.model.filter.statusOptions' ng-init='vm.model.filter.myfilter.status="1"' ng-change='vm.ctrl.filterPaginate()' name="filterStatus")
	
	// MAKE A DEPOSIT FORM
	div(class="column")
		div(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-show="vm.model.dom.deposit.depositDiv")
			div(class='small-12 large-8 large-push-2')
				// SEARCH CUSTOMERS
				div(class="row column")
					form(ng-submit="vm.ctrl.deposit.searchCustomer()")
						div(class="row column")
							label {{vm.model.dom.data.selected.deposit.search.label}}
								input(type="text" placeholder="{{ vm.model.dom.data.selected.deposit.search.placeholder }}" ng-model='vm.model.search.deposit.username' required="true" ng-change='vm.ctrl.deposit.validateSearchInput()')
						div(ng-show='vm.model.dom.deposit.search.message.notFound' class='marginB15')
							div(class='callout alert')
								p {{ vm.model.dom.data.selected.deposit.search.message.notFound + ' "' + vm.model.search.deposit.username + '". ' }}
									span: a(href='/#!/customers') {{ vm.model.dom.data.selected.createCustomer}}			
						//div(ng-show='vm.model.dom.messageSearchAlreadyCheckin' class='marginB15')
							div(class='callout alert')
								p {{vm.model.search.messageAlreadyCheckin}}
						div(ng-show="vm.model.dom.deposit.customerSearchResult" class="marginB15")
							div(class="table-scroll")
								table(class="hover unstriped borderAll")
									thead
										tr
											th {{vm.model.dom.data.selected.deposit.search.list.number}}
											th {{vm.model.dom.data.selected.deposit.search.list.fullname}}
											th {{vm.model.dom.data.selected.deposit.search.list.birthday}}
											th {{vm.model.dom.data.selected.deposit.search.list.email}}
											th {{vm.model.dom.data.selected.deposit.search.list.phone}}				
									tbody
										tr(ng-repeat='result in vm.model.search.deposit.customers' ng-click='vm.ctrl.deposit.selectCustomer($index)' class="pointerCursor")
											td {{ $index + 1 }}
											td {{ result.fullname }}
											td {{ result.birthday | date:'dd/MM/yyyy' }}
											td {{ result.email[0] }}
											td {{ result.phone[0] }}

				// DEPOSIT FORM
				form(ng-submit="vm.ctrl.deposit.invoice ()")
					// SELECT ACCOUNTS
					div(class='basicBox row column paddingTB15 marginB15')
						// ADD ACCOUNT
						div(class="column row")
							h3(class="paddingLR15 fontSize20 fontWeight600") Chọn tài khoản trả trước
						div(class="column row")
							div(class="column small-12 large-8")
								label Tài khoản
									select(ng-change='vm.ctrl.deposit.accountChangeHandler ()' ng-model="vm.model.temporary.depositing.account" ng-options="account as account.label[vm.model.dom.data.selected.modelLanguage] for account in vm.model.dom.deposit.accounts.default")
							div(class="column large-4 small-12")
								label Ngày sử dụng
									input(ng-change="vm.ctrl.deposit.accountChangeHandler ()" ng-model="vm.model.temporary.depositing.account.start" type="date" ng-disabled="!vm.model.temporary.depositing.account.label")
						// SELECTED ACCOUNT
						div(class="row column")
							div(class='column small-12 large-8')
								table(ng-if='vm.model.depositing.account.label && vm.model.depositing.account.start' class="unstriped")
									thead
										tr
											th Tài khoản
											th Ngày sử dụng

									tbody 
										tr
											td {{ vm.model.depositing.account.label.vn }}
											td {{ vm.model.depositing.account.start | date:'dd/MM/yyyy' }}
											td(class='text-center deleteIcon')
												i(class="material-icons customIcon" ng-click="vm.ctrl.deposit.removeAccount ()") close

					// SELECT GROUPON							
					div(class='basicBox row column paddingTB15 marginB15')
						div(class="column row")
							h3(class="paddingLR15 fontSize20 fontWeight600") Mua chung
						// PICK GROUP
						div(class="column row")
							div(class="column small-12 large-8")
								label Nhóm
									select(name="selectedGroup" ng-model="vm.model.temporary.depositing.groupon.leader" ng-options="leader.groupon as leader.customer.username for leader in vm.model.dom.data.selected.deposit.groupon.leaders" ng-change="vm.ctrl.deposit.grouponChangeHandler ()" ng-disabled="!vm.model.dom.data.selected.deposit.groupon.enableLeader")
										<option value="" ng-selected="vm.model.dom.data.selected.deposit.groupon.selectedBlank">Chọn nhóm</option>
							div(class="column small-12 large-4")
								label số lượng thành viên
									input(type="number" ng-model="vm.model.temporary.depositing.groupon.quantity" ng-disabled="!vm.model.dom.data.selected.deposit.groupon.enableQuantity" ng-change="vm.ctrl.deposit.grouponChangeHandler ()" min=0)


					div(class="row column")
						input(class="button" type="submit" value="Submit")
						button(class="button float-right primary" ng-click='vm.ctrl.deposit.cancel ()') Cancel

	// DEPOSIT LIST 
	div(class="column" ng-show="vm.model.dom.depositList.depositListDiv")
		div(class="table-scroll paddingT15 marginT15")
			table(class="borderAll unstriped")
				thead
					tr
						th No
						th Khách hàng
						th Tài khoản
						th Thời gian
						th Phí
						th Ghi chú
				tbody
					tr(ng-repeat='deposit in vm.model.depositList.data')
						td {{ $index + 1 }}
						td {{ deposit.customer.fullname }}
						td {{ deposit.account.name }}
						td {{ deposit.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}
						td {{ deposit.total | number }}
						td {{ deposit.note }}

		div(class='emptyResult text-center' ng-if='vm.model.depositList.data.length == 0')
			p Not found!

// DEPOSIT INVOICE
div(class="fullBox row column" ng-show='vm.model.dom.deposit.confirmDiv')
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Deposit confirmation
	div(class="column small-12 paddingB20")
		div(class="column small-12 large-6 large-push-3")
			table(class="hover unstriped")
				tbody
					tr
						th Khách hàng
						td {{ vm.model.depositing.customer.fullname }}
					tr
						th Email
						td {{ vm.model.depositing.customer.email }}
					tr
						th Số điện thoại
						td {{ vm.model.depositing.customer.phone }}
					tr
						th Tài khoản
						td {{ vm.model.depositing.account.label[vm.model.dom.data.selected.modelLanguage] }}
					tr
						th Giá
						td {{ vm.model.depositing.account.price | number}}
					tr
						th Số lượng
						td {{ vm.model.depositing.quantity}}
					tr(ng-show="vm.model.depositing.promocodes && vm.model.depositing.promocodes.length" ng-repeat="code in vm.model.depositing.promocodes")
						th Code
						td {{ code.name | uppercase }}						
					tr
						th Tổng
						td {{ vm.model.depositing.total | number }}					
	div(class="row column")
		div(class="column small-12 large-6 large-push-3")
			a(class="paddingL15 button primary" ng-click="vm.ctrl.deposit.submit ()") Confirm
			a(class="paddingR15 button float-right secondary" ng-click="vm.ctrl.deposit.invoiceBackDepositForm ()") Back



// Validate add same promote code
//div(id='addSameCode' class='reveal text-center small' data-reveal data-animation-in="slide-in-down fast")
	div(class=' text-center paddingTB15 marginB15')
		h5 Thêm trùng mã code
	button(class="close-button"  data-close='' aria-label="Close modal" type="button")
			span(aria-hidden="true") &times;
