div(id='login-bg')

div
	div(class="row column")
		div(class="button-group expanded")
			a(class="button") Google +
			a(class="button") Facebook
	hr
	div(ng-switch on="vm.other.switch1")
		div(class="row" ng-switch-when="{{ vm.other.localLoginBoxName }}")
			form
				div(class="row column")
					label Phone / Email
						input(type="text")
				div(class="row column")
					label Password
						input(type="text")
				div(class="row column small-6 small-offset-3 text-center")
					a(class="button") Log in
			div(class="row column text-right")
				<span>Don't have an account? <a ng-click="vm.changeSwitch(1, vm.other.localSignupBoxName)">Sign up</a></span>

		div(class="row" ng-switch-when="{{ vm.other.localSignupBoxName }}")
			form
				div(class="row column")
					label Email
						input(type="text")
				div(class="row column")
					label First Name
						input(type="text")
				div(class="row column")
					label Middle Name
						input(type="text")
				div(class="row column")
					label Last Name
						input(type="text")
				div(class="row column")
					label Birthday
						input(type="text")
				div(class="row column")
					label Gender
						input(type="text")
				div(class="row column")
					label Phone
						input(type="text")
				div(class="row column")
					label Password
						input(type="text")
				div(class="row column small-6 small-offset-3 text-center")
					a(class="button") Sign up

