div(class="row columns")
	div(class="column small-12")
		h2 Customer List
	
	// SETTING
	div(class="row column")
		div(class="column small-3")
			ul(class="menu")
				li
					a(class="button" ng-click="vm.ctrl.toggleRegisterDiv()") 
						span(class="show-for-large") Create an account
						i(class="material-icons customIcon hide-for-large") add
		//div(class="column small-9")
			ul(class="menu clearfix")
				li(class="float-right marginL15")
				<a class="button secondary" ng-click="vm.ctrl.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
				li(class="float-right")
					ul(class="menu")
						li: label(class="paddingR15 show-for-large") Sort by
						li: select(class="" ng-model='vm.model.sorting.customerListOrder')
							option(value="firstname") Firstname
							option(value="lastname") Lastname
							option(value="email") Email
							option(value="phone") Phone

	// CREATE CUSTOMER FORM						
	div(class="column" ng-show='vm.model.dom.register.registerDiv')
		form(class="borderT newBox row column" ng-submit='vm.ctrl.register.confirm()')
			div(class="row column")
				div(class="column small-12 large-4 large-paddingR15 paddingLR0")
					label Họ
						input(type="text" ng-model='vm.model.register.lastname' required)
				div(class="column small-12 large-4 large-paddingLR15 paddingLR0")
					label Tên đệm
						input(type="text" ng-model='vm.model.register.middlename')
				div(class="column small-12 large-4 large-paddingL15 paddingLR0")
					label Tên
						input(type="text" ng-model='vm.model.register.firstname' required)
			div(class=" row column")
				div(class="column small-12 large-6 large-paddingR15 paddingLR0")
					label Giới tính
						select(ng-model='vm.model.register.gender' ng-options="gender.value as gender.label for gender in vm.model.dom.data.selected.register.genders track by gender.value" ng-change="vm.ctrl.register.getGenderLabel ()" required)
							<option value="">Chọn giới tính</option>
				div(class="column small-12 large-6 large-paddingL15 large-paddingR0 paddingLR0")
					label Ngày sinh
						input(type="date" ng-model='vm.model.register.birthday' required)
			div(class=" row column")
				div(class="column small-12 large-6 large-paddingR15 paddingLR0")
					label Email
						input(type="email" ng-model='vm.model.register.email')
				div(class="column small-12 large-6 large-paddingL15 paddingLR0")
					label Phone
						input(type="tel" ng-model='vm.model.register.phone')
			div(class=" row column")
				div(class="column small-12 paddingLR0")
					label Trường
						select(ng-model='vm.model.register.edu.school' ng-options="s.value as s.label for s in vm.model.dom.data.selected.register.schools track by s.value" ng-change="vm.ctrl.register.getSchoolLabel ()")
							<option value="">Chọn trường</option>

			div(class="row column paddingT15")
				input(class="button" type="submit" value="Submit")
				a(class="button float-right" ng-click="vm.ctrl.reset()") Cancel

// CONFRIM CREATE A CUSTOMER
div(id='registerConfirmDiv' class='reveal paddingAll0' data-reveal data-animation-in="slide-in-down fast")
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Create account confirmation
	div(class="column small-12 paddingB20")
		div(class="column small-12")
			table(class="hover unstriped stack")
				tbody
					tr
						th Họ và tên
						td {{ vm.model.register.fullname }}
					tr
						th Giới tính
						td {{ vm.model.temporary.register.genderLabel }}
					tr
						th Ngày sinh
						td {{ vm.model.register.birthday | date:'dd/MM/yyyy' }}
					tr(ng-if="vm.model.register.email")
						th Email
						td {{ vm.model.register.email }}						
					tr(ng-if="vm.model.register.phone")
						th Phone
						td {{ vm.model.register.phone }}
					tr(ng-if="vm.model.register.edu.school")
						th Trường
						td {{ vm.model.temporary.register.schoolLabel }}

			div(class="row column")
				div(class='column small-12 large-paddingLR0')
					a(class="paddingL15 button primary" ng-click="vm.ctrl.register.create ()") Confirm
					a(class="paddingR15 button float-right secondary" data-close='' aria-label="Close modal") Cancel

//Announce create successfull
div(id='createAccountSuccess' class='reveal paddingAll0' data-reveal data-animation-in="slide-in-down fast")
	div(class="row column text-center paddingTB15 marginB15 callout success borderAll0")
		h2 Success
		p Tạo tài khoản khách hàng thành công!
	div(class="row column")
		a(class="button" ng-click="vm.ctrl.checkin()") Check-in
		a(class="button float-right secondary" data-close='' aria-label="Close modal" ng-click="vm.ctrl.reset ()") Close

//Announce create fail
div(id='createAccountFailure' class='reveal text-center paddingAll0' data-reveal data-animation-in="slide-in-down fast")
	div(class="row column paddingTB15 marginB15 callout alert borderAll0")
		h2 Failure
		p Tạo tài khoản khách hàng thất bại!
	div(class="row column")
		a(class="button secondary" data-close='' aria-label="Close modal" ng-click="vm.ctrl.reset ()") Close