div(class="row columns")
	div(class="column small-12")
		h2 Customer List
	
	// SETTING
	div(class="row column")
		div(class="column small-3")
			ul(class="menu")
				li
					a(class="button" ng-click="vm.ctrl.toggleRegisterDiv()") 
						span(class="show-for-large") Create an account
						i(class="material-icons customIcon hide-for-large") add
		//div(class="column small-9")
			ul(class="menu clearfix")
				li(class="float-right marginL15")
				<a class="button secondary" ng-click="vm.ctrl.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
				li(class="float-right")
					ul(class="menu")
						li: label(class="paddingR15 show-for-large") Sort by
						li: select(class="" ng-model='vm.model.sorting.customerListOrder')
							option(value="firstname") Firstname
							option(value="lastname") Lastname
							option(value="email") Email
							option(value="phone") Phone
	
	//Return existed customer
	div(class='column paddingT30' ng-show='vm.model.dom.register.existedCustomerDiv')
		div(class="table-scroll")
			table(class="hover unstriped borderAll")
				thead
					tr
						th {{vm.model.dom.data.selected.register.existedCustomer.number}}
						th {{vm.model.dom.data.selected.register.existedCustomer.fullname}}
						th {{vm.model.dom.data.selected.register.existedCustomer.birthday}}
						th {{vm.model.dom.data.selected.register.existedCustomer.email}}
						th {{vm.model.dom.data.selected.register.existedCustomer.phone}}				
				tbody
					tr(ng-repeat='result in vm.model.existedCustomer.customers' ng-click='vm.ctrl.checkin.selectCustomer($index)' class="pointerCursor")
						td {{ $index + 1 }}
						td {{ result.fullname }}
						td {{ result.birthday | date:'dd/MM/yyyy' }}
						td {{ result.email[0] }}
						td {{ result.phone[0] }}

	// CREATE CUSTOMER FORM						
	div(class="column row" ng-show='vm.model.dom.register.registerDiv')
		form(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-submit='vm.ctrl.register.checkExist()')
			div(class='small-12 large-8 large-push-2')
				div(class="row column text-center paddingB15")
					h3 Tạo tài khoản khách hàng
				div(class="row column")
					div(class="column small-12 large-4 large-paddingR15 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.lastname}}
							input(type="text" ng-model='vm.model.register.lastname' required)
					div(class="column small-12 large-4 large-paddingLR15 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.middlename}}
							input(type="text" ng-model='vm.model.register.middlename')
					div(class="column small-12 large-4 large-paddingL15 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.firstname}}
							input(type="text" ng-model='vm.model.register.firstname' required)

				div(ng-show="vm.model.dom.register.customerExistResultDiv" class="marginB15 row column")
					div(class="table-scroll")
						table(class="hover unstriped borderAll")
							thead
								tr
									th {{vm.model.dom.data.selected.register.search.list.number}}
									th {{vm.model.dom.data.selected.register.search.list.fullname}}
									th {{vm.model.dom.data.selected.register.search.list.birthday}}
									th {{vm.model.dom.data.selected.register.search.list.email}}
									th {{vm.model.dom.data.selected.register.search.list.phone}}				
							tbody
								tr(ng-repeat='result in vm.model.search.register.customers' ng-click='vm.ctrl.register.checkinExistCustomer($index)' class="pointerCursor")
									td {{ $index + 1 }}
									td {{ result.fullname }}
									td {{ result.birthday | date:'dd/MM/yyyy' }}
									td {{ result.email[0] }}
									td {{ result.phone[0] }}						
				div(class=" row column")
					div(class="column small-12 large-6 large-paddingR15 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.gender}}
							select(ng-model='vm.model.register.gender' ng-options="gender.value as gender.label for gender in vm.model.dom.data.selected.register.genders track by gender.value" ng-change="vm.ctrl.register.getGenderLabel ()" required)
								<option value="">Chọn giới tính</option>
					div(class="column small-12 large-6 large-paddingL15 large-paddingR0 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.birthday}}
							input(type="date" ng-model='vm.model.register.birthday' required)
				div(class="row column")
					div(class="column small-12 large-6 large-paddingR15 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.email}}
							input(type="email" ng-model='vm.model.register.email')
					div(class="column small-12 large-6 large-paddingL15 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.phone}}
							input(type="tel" ng-model='vm.model.register.phone' )
				div(class=" row column")
					div(class="column small-12 paddingLR0")
						label {{vm.model.dom.data.selected.register.customer.school}}
							select(ng-model='vm.model.register.edu.school' ng-options="s.value as s.label for s in vm.model.dom.data.selected.register.schools track by s.value" ng-change="vm.ctrl.register.getSchoolLabel ()")
								<option value="">{{vm.model.dom.data.selected.register.customer.selectSchool}}</option>

				div(class="row column paddingT15")
					input(class="button" type="submit" value="Submit")
					a(class="button float-right" ng-click="vm.ctrl.reset()") Cancel
	// SEARCH CUSTOMER
	div(class="column paddingT15")
		form(ng-submit="vm.ctrl.searchCustomer()")
			div(class="row column")
				label {{ vm.model.dom.data.selected.search.label.username }}
					input(type="text" placeholder="{{ vm.model.dom.data.selected.search.placeholder.username }}" ng-model='vm.model.search.username' required="true" ng-change='vm.ctrl.clearSearchInput()')
			div(ng-show='vm.model.dom.search.message.notFound' class='marginB15')
				div(class='callout alert')
					p {{ vm.model.dom.data.selected.search.message.notFound + ' "' + vm.model.search.username + '". ' }}
			div(ng-show="vm.model.dom.customerSearchResult" class="marginB15")
				div(class="table-scroll")
					table(class="hover unstriped borderAll")
						thead
							tr
								th {{vm.model.dom.data.selected.register.search.list.number}}
								th {{vm.model.dom.data.selected.register.search.list.fullname}}
								th {{vm.model.dom.data.selected.register.search.list.email}}
								th {{vm.model.dom.data.selected.register.search.list.phone}}				
						tbody
							tr(ng-repeat='result in vm.model.search.customers' ng-click='vm.ctrl.selectCustomer($index)' class="pointerCursor")
								td {{ $index + 1 }}
								td {{ result.fullname }}
								td {{ result.email[0] }}
								td {{ result.phone[0] }}

// CONFRIM CREATE A CUSTOMER
div(class="fullBox row column" ng-show='vm.model.dom.register.confirmDiv')
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Create account confirmation
	div(class="column small-12 paddingB20")
		div(class="column small-12 large-6 large-push-3")
			table(class="hover unstriped stack")
				tbody
					tr
						th Họ và tên
						td {{ vm.model.register.fullname }}
					tr
						th Giới tính
						td {{ vm.model.temporary.register.genderLabel }}
					tr
						th Ngày sinh
						td {{ vm.model.register.birthday | date:'dd/MM/yyyy' }}
					tr(ng-if="vm.model.register.email")
						th Email
						td {{ vm.model.register.email }}						
					tr(ng-if="vm.model.register.phone")
						th Phone
						td {{ vm.model.register.phone }}
					tr(ng-if="vm.model.register.edu.school")
						th Trường
						td {{ vm.model.temporary.register.schoolLabel }}
			
			div(class="row column")
				div(class='column small-12 large-paddingLR0')
					a(class="paddingL15 button primary" ng-click="vm.ctrl.register.create ()") Confirm
					a(class="paddingR15 button float-right secondary" ng-click="vm.ctrl.reset()") Cancel


// SUCCESS MESSAGE 
div(class="fullBox row column" ng-show='vm.model.dom.register.successDiv')
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Tạo tài khoản khách hàng thành công!
	div(class="column small-12 paddingB20")
		div(class="column small-12 large-6 large-push-3")
			a(class="button" ng-click="vm.ctrl.checkin()") Check-in
			a(class="button float-right secondary" ng-click="vm.ctrl.reset ()") Close		

// Customer Info
div(class="fullBox row column" ng-show='vm.model.dom.customer.info')
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Thông tin khách hàng
	div(class='column small-12 large-6 large-push-3 text-center')
		table
			tr
				th Fullname
				td {{vm.model.customer.fullname}}
			tr
				th Birthday
				td {{vm.model.customer.birthday | date:'dd-MM-yyyy'}}
			tr
				th Phone
				td {{vm.model.customer.phone[0]}}
			tr
				th Email
				td {{vm.model.customer.email[0]}}
	div(class='column small-12 paddingB20')
		div(class="column small-12 large-6 large-push-3")
			a(class="button disabled") Edit
			a(class="button float-right secondary" ng-click="vm.ctrl.reset ()") Close