div(class="columns row")
	div(class="small-12 column")
		h2 {{vm.model.dom.data.selected.title}}
	
	// SETTING
	div(class="row column")
		div(class="column small-3")
			ul(class="menu")
				li
					a(class="button primary" ng-click="vm.ctrl.openCheckinDiv()") 
						span(class="show-for-large") Checkin
						i(class="material-icons customIcon hide-for-large") add
		// FILTER CONTROLLER
		div(class="column small-9")
			ul(class="menu clearfix")
				li(class="float-right marginL15")
					<a class="button primary" ng-click="vm.ctrl.seeMore()"><span class="show-for-large">{{vm.model.dom.data.selected.seeMoreBtn}}</span><i class="material-icons customIcon hide-for-large">{{vm.model.dom.data.selected.seeMoreBtnIcon}}</i></a>
				li(class="float-right marginL15")
					<a class="button primary" ng-click="vm.ctrl.toggleFilterDiv()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
				li(class="float-right")
					ul(class="menu")
						li: label(class="paddingR15 show-for-large") {{ vm.model.dom.data.selected.sorting.label}}
						li: select(ng-model="vm.model.filter.orderBy" ng-options="key as value for (key , value) in vm.model.filter.orderOptions" ng-init='vm.model.filter.orderBy="checkinTime"')
	
	// FILTER 
	div(class="column" ng-show="vm.model.dom.filterDiv")
		div(class="borderT newBox row column")
			div(class='marginB15 column small-12 large-9 paddingLR0 large-paddingR15')
				legend {{ vm.model.dom.data.selected.filter.username}}
				input(type='text' ng-model='vm.model.filter.others.customer.username' ng-change='vm.ctrl.filterPaginate()')
			div(class="marginB15 column small-12 large-3 paddingLR0 large-paddingL15")
				legend {{ vm.model.dom.data.selected.filter.status}}
				select(ng-model='vm.model.filter.myfilter.status' ng-options='status.value as status.label for status in vm.model.filter.statusOptions' ng-init='vm.model.filter.myfilter.status="1"' ng-change='vm.ctrl.filterPaginate()' name="filterStatus")
	
	// CHECK-IN
	div(class="column")
		div(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-show="vm.model.dom.checkin.checkinDiv")
			div(class='small-12 large-8 large-push-2')
				div(class="row column text-center")
					h3 CHECK-IN
				// SEARCH CUSTOMERS
				div(class="row column")
					form(ng-submit="vm.ctrl.checkin.searchCustomer()")
						div(class="row column")
							label {{vm.model.dom.data.selected.checkin.search.label}}
								input(type="text" placeholder="{{ vm.model.dom.data.selected.checkin.search.placeholder }}" ng-model='vm.model.search.checkin.username' required="true" ng-change='vm.ctrl.checkin.validateSearchInput()')
						div(ng-show='vm.model.dom.checkin.search.message.notFound' class='marginB15')
							div(class='callout alert')
								p {{ vm.model.dom.data.selected.checkin.search.message.notFound + ' "' + vm.model.search.checkin.username + '". ' }}
									span: a(href='/#!/customers') {{ vm.model.dom.data.selected.createCustomer}}			
						//div(ng-show='vm.model.dom.messageSearchAlreadyCheckin' class='marginB15')
							div(class='callout alert')
								p {{vm.model.search.messageAlreadyCheckin}}
						div(ng-show="vm.model.dom.checkin.customerSearchResultDiv" class="marginB15")
							div(class="table-scroll")
								table(class="hover unstriped borderAll")
									thead
										tr
											th {{vm.model.dom.data.selected.checkin.search.list.number}}
											th {{vm.model.dom.data.selected.checkin.search.list.fullname}}
											th {{vm.model.dom.data.selected.checkin.search.list.birthday}}
											th {{vm.model.dom.data.selected.checkin.search.list.email}}
											th {{vm.model.dom.data.selected.checkin.search.list.phone}}				
									tbody
										tr(ng-repeat='result in vm.model.search.checkin.customers' ng-click='vm.ctrl.checkin.selectCustomer($index)' class="pointerCursor")
											td {{ $index + 1 }}
											td {{ result.fullname }}
											td {{ result.birthday | date:'dd/MM/yyyy' }}
											td {{ result.email[0] }}
											td {{ result.phone[0] }}

				// CHECK-IN FORM
				form(ng-submit="vm.ctrl.checkin.confirm ()")
					div(class="row column basicBox ")
						div(class="column row")
							h3(class="paddingLR15 fontSize20 fontWeight600") Chọn dịch vụ
						// SERVICE
						div(class="column small-12")
							label {{ vm.model.dom.data.selected.fieldService }}
								select(ng-change='vm.ctrl.checkin.serviceChangeHandler ()' ng-model="vm.model.checkingin.occupancy.service" ng-options="s as s.label for s in vm.model.dom.data.selected.services track by s.name")

						// PICK GROUP
						div(class="column small-12" ng-if="vm.model.dom.checkin.privateGroupLeaderDiv && vm.model.temporary.groupPrivateLeaders && vm.model.temporary.groupPrivateLeaders.length > 1")
							label {{vm.model.dom.data.selected.fieldChooseGroup}}
								select(name="selectedGroup" ng-model="vm.model.temporary.selectedGroupPrivate" ng-options="leader as leader.groupName for leader in vm.model.temporary.groupPrivateLeaders track by leader._id" ng-change="vm.ctrl.checkin.selectedGroupChangeHandler ()")
					// ORDER FORM
					div(class='basicBox row column paddingTB15 marginB15')
						// ADD ITEMS
						div(class="column row")
							h3(class="paddingLR15 fontSize20 fontWeight600") {{vm.model.dom.data.selected.checkin.product.title}}
						div(class="column row")
							div(class="column large-8 small-12")
								label {{vm.model.dom.data.selected.checkin.product.productName.label}}
									select(ng-model="vm.model.temporary.checkin.item.name" ng-options="item.name as item.name for item in vm.model.dom.data.selected.items track by item.name")
							div(class="column large-2 small-12")
								label {{vm.model.dom.data.selected.checkin.product.quantity.label}}
									input( ng-model="vm.model.temporary.checkin.item.quantity" string-to-number type="number" min='0')
							div(class="column large-2 small-12 text-center")
								a(class="button full-width-small" style="margin-top: 28px; display: block;" ng-click="vm.ctrl.checkin.addItem (); $event.preventDefault()") Add
						// SELECTED ITEMS
						div(class="row column")
							div(class='column small-12 large-10')
								table(ng-if='vm.model.checkingin.order.orderline.length > 0' class="unstriped")
									thead
										tr
											th {{ vm.model.dom.data.selected.checkin.product.header.product }}
											th {{ vm.model.dom.data.selected.checkin.product.header.quantity }}

									tbody 
										tr(ng-repeat='ord in vm.model.checkingin.order.orderline track by ord._id')
											td {{ ord.productName }}
											td {{ ord.quantity }}
											td(class='text-center deleteIcon')
												i(class="material-icons customIcon" ng-click="vm.ctrl.checkin.removeItem ($index)") close
					// CODES
					div(class="row column basicBox")
						div(class="column row")
							h3(class="paddingLR15 fontSize20 fontWeight600") {{vm.model.dom.data.selected.checkin.promoteCode.title}}
						div(class="column row")
							div(class='column small-12')
								label {{vm.model.dom.data.selected.checkin.promoteCode.label}}
									select(ng-model="vm.model.temporary.checkin.codeName" ng-options="code.name as code.selectedLabel disable when code.disabled for code in vm.model.dom.data.selected.checkin.promoteCode.codes track by code.name" ng-change='vm.ctrl.checkin.addCode()')

						div(class="column row")
							div(class='column small-12 large-10')
								table(ng-if='vm.model.checkingin.occupancy.promocodes.length > 0')
									thead
										tr
											th Code
											th Trạng thái
									tbody
										tr(ng-repeat='code in vm.model.checkingin.occupancy.promocodes track by code.name')
											td {{ code.name }}
											td(class='{{vm.model.temporary.checkin.statusCode[code.status]}}') {{ vm.model.temporary.checkin.statusCode[code.status] }}
											td(class='text-center deleteIcon')
												i(class="material-icons customIcon" ng-click='vm.ctrl.checkin.removeCode ()') close

					div(class="row column")

						input(class="button" type="submit" value="Submit")
						button(class="button float-right primary" ng-click='vm.ctrl.checkin.cancel ()') Cancel
	
	// EDIT FORM. DISABLE UNTIL IMPLEMENT PERMISSION
	div(class="column" ng-show="vm.model.dom.checkInEditDiv")
		div(class='borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox')
			div(class='small-12 large-6 large-push-3')
				div(class="row column text-center")
					h3 Edit
				form(ng-submit='vm.ctrl.edit.confirm()')
					// User Info
					div(class='row column')
						label Fullname
							input(type='text' ng-model='vm.model.edit.occupancy.customer.fullname')
					div(class='row column')
						label Email
							input(type='text' ng-model='vm.model.edit.occupancy.customer.email')
					div(class='row column')
						label Phone
							input(type='text' ng-model='vm.model.edit.occupancy.customer.phone')
					//Main service for edit
					div(class="row column")
						label Service
							select(name="selectedService" ng-model="vm.model.edit.occupancy.service" ng-options="s as s.label for s in vm.model.dom.data.selected.edit.services track by s.name" ng-change='vm.ctrl.edit.serviceChangeHandler()')

					// PICK GROUP
					div(class="row column" ng-if="vm.model.dom.edit.privateGroupLeaderDiv && vm.model.temporary.groupPrivateLeaders && vm.model.temporary.groupPrivateLeaders.length > 1")
						label Group
							select(name="selectedGroup" ng-model="vm.model.temporary.edit.selectedGroupPrivate" ng-options="leader as leader.groupName for leader in vm.model.temporary.groupPrivateLeaders track by leader._id" ng-change="vm.ctrl.edit.selectGroup ()")
					// Code
					div(class="column row")
						div(class='column row small-12')
							label {{vm.model.dom.data.selected.checkin.promoteCode.label}}
								select(ng-model="vm.model.temporary.edit.codeName" ng-options="code.name as code.selectedLabel for code in vm.model.dom.data.selected.edit.promoteCode.codes track by code.name" ng-change='vm.ctrl.edit.addCode()')

					div(class="column row")
						div(class='column small-12 large-6')
							table(ng-if='vm.model.edit.occupancy.promocodes.length > 0')
								thead
									tr
										th Code
										th Trạng thái
										th 
								tbody
									tr(ng-repeat='code in vm.model.edit.occupancy.promocodes track by code.name')
										td {{ code.name }}
										td(class='{{vm.model.temporary.checkin.statusCode[code.status]}}') {{ vm.model.temporary.checkin.statusCode[code.status] }}
										td(class='text-center deleteIcon')
											i(class="material-icons customIcon" ng-click='vm.ctrl.edit.removeCode ()') close
					div(class="row column")
						input(class="button" type="submit" value="Submit")
						button(class="button float-right primary" ng-click='vm.ctrl.edit.close()') Cancel

	// CHECKED-IN LIST 
	div(class="column" ng-show="vm.model.dom.checkedinList")
		div(class="table-scroll paddingT15 marginT15")
			table(class="borderAll unstriped")
				thead
					tr
						th {{vm.model.dom.data.selected.checkinList.header.number}}
						th {{vm.model.dom.data.selected.checkinList.header.fullname}}
						//- th {{vm.model.dom.data.selected.checkinList.header.headerBirthday}}
						th(ng-if='vm.model.dom.seeMore == true') {{vm.model.dom.data.selected.checkinList.header.checkinDate}}
						th {{vm.model.dom.data.selected.checkinList.header.checkinHour}}
						th(ng-if='vm.model.dom.seeMore == true')  {{vm.model.dom.data.selected.checkinList.header.checkoutDate}}
						th {{vm.model.dom.data.selected.checkinList.header.checkoutHour}}
						th {{vm.model.dom.data.selected.checkinList.header.service}}
						th
						th
						th(ng-if='vm.model.dom.note') Note
						
						//th {{vm.model.dom.data.selected.headerEdit}}
				tbody
					tr(ng-repeat='occupancy in vm.model.checkedinList.data | myfilter:vm.model.filter.myfilter.status | orderBy: [vm.model.filter.orderBy] | filterName:vm.model.filter.others.customer.username' ng-show='vm.ctrl.showInPage(occupancy)')
						td {{ $index + 1 }}
						td {{ occupancy.customer.fullname }}
						td(ng-if='vm.model.dom.seeMore == true')  {{ occupancy.checkinTime | date:'dd/MM/yyyy' }}
						td {{ occupancy.checkinTime | date: 'shortTime' }}
						td(ng-if='vm.model.dom.seeMore == true')  {{ occupancy.checkoutTime | date:'dd/MM/yyyy' }}
						td {{ occupancy.checkoutTime | date: 'shortTime' }}
						td {{ occupancy.service.label }}
						
						td
							a(ng-if='occupancy.status == 1' class="primary button" ng-click="vm.ctrl.checkout.getInvoice (occupancy)") Checkout
							a(ng-if='occupancy.status == 2' class="disabled button") Checkout
						td
							a(ng-if='occupancy.status == 1' class="primary button" ng-click="vm.ctrl.edit.edit (occupancy)" disabled) Edit
							a(ng-if='occupancy.status == 2' class="disabled button") Edit
						td(ng-if='occupancy.status != 1') {{occupancy.note}}
			div(ng-if='vm.model.temporary.displayedList.data.length > vm.model.checkedinList.pagination.itemsEachPages')
				ul(class="pagination text-center" role="navigation" aria-label="Pagination")
					li(ng-class='vm.model.previousClass' ng-click='vm.ctrl.goPrevious()') {{vm.model.goPreviousText}}
						a(aria-label="Previous page" ng-if='vm.model.goPreviousText != "Previous"') Previous
							span(class="show-for-sr") page

					li(ng-repeat="item in vm.model.temporary.displayedList.number track by $index" class='{{item.class}}')
						a(href ='' ng-click='vm.ctrl.sliceCheckinList(item.number)') {{item.number}}
					
					li(ng-class='vm.model.nextClass' ng-click='vm.ctrl.goNext()') {{vm.model.goNextText}}
						a(aria-label="Next page" ng-if='vm.model.goNextText != "Next"') Next
							span(class="show-for-sr") page
		div(class='emptyResult text-center' ng-if='vm.model.checkinListEachPage.data.length == 0 || vm.model.temporary.displayedList.data.length == 0')
			p {{vm.model.dom.data.selected.checkinList.body.message.notFound}}

// CHECK-IN CONFIRM
div(class="fullBox row column" ng-show='vm.model.dom.checkin.confirmDiv')
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Check-in confirmation
	div(class="column small-12 paddingB20")
		div(class="column small-12 large-6 large-push-3")
			table(class="hover unstriped")
				tbody
					tr
						th Khách hàng
						td {{ vm.model.checkingin.occupancy.customer.fullname }}
					tr
						th Dịch vụ
						td {{ vm.model.checkingin.occupancy.service.label }}
					tr
						th Check-in
						td {{ vm.model.checkingin.occupancy.checkinTime | date:'dd/MM/yyyy'}} {{ vm.model.checkingin.occupancy.checkinTime | date:'shortTime'}}
						
					tr(ng-show="vm.model.checkingin.occupancy.parent")
						th Nhóm
						td {{ vm.model.temporary.selectedGroupPrivate.leader }}
					tr(ng-show="vm.model.checkingin.occupancy.promocodes.length" ng-repeat="code in vm.model.checkingin.occupancy.promocodes")
						th Code
						td {{ code.name | uppercase }}
			div(class="row column marginT30 paddingLR10")
				a(class="paddingL15 button primary" ng-click="vm.ctrl.checkin.checkin ()") Check-in
				a(class="paddingR15 button float-right secondary" ng-click="vm.ctrl.checkin.closeConfirm (); $event.preventDefault()") Cancel

// ORDER INVOICE
div(class="fullBox row column" ng-show='vm.model.temporary.justCheckedin.order.orderline.length')
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Order
	div(class="column small-12 paddingB20")
		div(class="column small-12 large-6 large-push-3")
			table(class="hover unstriped stack")
				tbody
					tr
						th Khách hàng
						td(colspan="3") {{ vm.model.temporary.justCheckedin.order.customer.fullname }}
					tr
						table(class="hover unstriped")
							thead
								tr
									th Sản phẩm
									th Giá
									th Số lượng
									th Tổng (VNĐ)
							tbody
								tr(ng-repeat="item in vm.model.temporary.justCheckedin.order.orderline")
									td {{ item.productName }}
									td {{ item.price | number }}
									td {{ item.quantity }}
									td {{ item.subTotal | number }}
								tr
									td(colspan="3") 
									td {{ vm.model.temporary.justCheckedin.order.total | number }}
			
					tr
						th(colspan='2')
							textarea(type='text' ng-model='vm.model.temporary.justCheckedin.order.note' placeholder="Ghi chú")
			div(class="row column marginT30")
				a(class="paddingL15 button primary" ng-click="vm.ctrl.order.confirm ()") Order
				a(class="paddingR15 button float-right secondary" ng-click='vm.ctrl.reset(); $event.preventDefault()') Cancel	

// INVOICE version 0.0.0
div(id='checkoutDiv' ng-show='vm.model.dom.checkOutDiv' class="row column")
	div(class="column small-12 text-center paddingTB20")
		h2 GREEN SPACE
		h3 Check-out confirmation
	div(class="column small-12 paddingB20")
		div(class="column small-12 large-8 large-push-2 table-scroll")
			table(class="hover unstriped")
				tbody
					tr
						th(colspan=3) Khách hàng
						td(colspan=2) {{ vm.model.checkingout.occupancy.customer.fullname }} 
					tr(ng-if="vm.model.checkingout.occupancy.accounts.length")
						th(colspan=3) Tài khoản trả trước
						td(colspan=2)
							select(ng-model="vm.model.temporary.checkout.selectedAccount._id" ng-options="acc._id as acc.label.vn for acc in vm.model.checkingout.occupancy.accounts" ng-change="vm.ctrl.checkout.accChangeHandler ()")
					tr
						th(colspan=3) Dịch vụ
						td(colspan=2) {{ vm.model.checkingout.occupancy.service.label }}
					tr(ng-if="vm.model.checkingout.occupancy.parent")
						th(colspan=3) Nhóm
						td(colspan=2) {{vm.model.temporary.groupParent}}
					tr
						th(colspan=3) Checkin
						td(colspan=2) {{ vm.model.checkingout.occupancy.checkinTime | date:'dd/MM/yyyy'}} {{ vm.model.checkingout.occupancy.checkinTime | date:'shortTime'}}				
					tr
						th(colspan=3) Checkout
						td(colspan=2) {{ vm.model.checkingout.occupancy.checkoutTime | date:'dd/MM/yyyy'}} {{ vm.model.checkingout.occupancy.checkoutTime | date:'shortTime'}}
					tr
						th(colspan=3) Thời gian
						td(colspan=2) {{ vm.model.checkingout.occupancy.oriUsage | number: 1 }} Giờ
					tr
						th(colspan=3) Giá
						td(colspan=2) {{ vm.model.checkingout.occupancy.price | number}} VNĐ
					tr(ng-if="vm.model.checkingout.occupancy.promocodes && vm.model.checkingout.occupancy.promocodes.length")
						th(colspan=3) Codes
						td(colspan=2) {{ vm.model.temporary.checkout.invoice.codeNames }}
					tr
						th(colspan=3) Tổng
						td(colspan=2) {{ vm.model.checkingout.occupancy.total | number }} VNĐ
					tr(ng-if="vm.model.temporary.checkout.prepaidTotal.acc.paidAmount")
						th(colspan=3) Tài khoản đã dùng
						td(colspan='2' ng-if="vm.model.temporary.checkout.prepaidTotal.acc.unit == 'hour'") {{ vm.model.temporary.checkout.prepaidTotal.acc.paidAmount | number: 1}} Giờ
						td(colspan='2' ng-if="vm.model.temporary.checkout.prepaidTotal.acc.unit == 'vnd'") {{ vm.model.temporary.checkout.prepaidTotal.acc.paidAmount | number }} VNĐ
					tr(ng-if="vm.model.temporary.checkout.prepaidTotal.acc.remain || vm.model.temporary.checkout.prepaidTotal.acc.remain == 0")
						th(colspan=3) Tài khoản còn
						td(colspan='2' ng-if="vm.model.temporary.checkout.prepaidTotal.acc.unit == 'hour'") {{ vm.model.temporary.checkout.prepaidTotal.acc.remain | number: 1}} Giờ
						td(colspan='2' ng-if="vm.model.temporary.checkout.prepaidTotal.acc.unit == 'vnd'") {{ vm.model.temporary.checkout.prepaidTotal.acc.remain }} VNĐ						
					tr(ng-if="vm.model.temporary.checkout.prepaidTotal.occ.total || vm.model.temporary.checkout.prepaidTotal.occ.total == 0")
						th(colspan=3) Tổng trừ trả trước
						td(colspan=2) {{ vm.model.temporary.checkout.prepaidTotal.occ.total | number}} VNĐ
					tr(ng-if='vm.model.temporary.availableChildren.length == 0')
						td(colspan=5)
							textarea(type='text' ng-model='vm.model.checkingout.occupancy.note' placeholder="Ghi chú")
				table(class="hover unstriped" ng-show='vm.model.dom.checkboxDiv' ng-if='vm.model.temporary.availableChildren.length > 0')
					tbody
						tr
							th(colspan="5") Members
				table(class="hover unstriped borderAll" ng-show='vm.model.dom.checkboxDiv' ng-if='vm.model.temporary.availableChildren.length > 0')
					thead
						tr
							th
								span STT
							th
								span Select
							th
								span Name
							th
								span Email
							th
								span Phone
					tbody
						tr( ng-repeat='avaiChild in vm.model.temporary.availableChildren')
							td(width='10' class='text-center paddingLR15')
								span {{$index+1}}
							td(width='20' class='text-center paddingLR15')
								input(type='checkbox' checklist-model='vm.model.temporary.childrenIdList' checklist-value='avaiChild._id' class='marginB0')
							td(width='300' class='paddingLR15')
								span {{avaiChild.customer.fullname}}
							td
								span {{avaiChild.customer.email}}
							td
								span {{avaiChild.customer.phone}}
				table(class="hover unstriped" ng-show='vm.model.dom.checkboxDiv' ng-if='vm.model.temporary.availableChildren.length > 0')
					tbody
						tr
							td(class='paddingLR0')
								textarea(type='text' ng-model='vm.model.checkingout.occupancy.note' placeholder="Ghi chú")
			div(class="row column marginT30 paddingLR10")
				a(class="paddingL15 button primary" ng-click="vm.ctrl.checkout.checkout()") Checkout
				a(class="paddingR15 button float-right secondary" ng-click='vm.ctrl.reset()') Cancel