div(class="row columns")
	div(class="column small-12")
		h2 Storage
	// SETTING
	div(class="row column")
		div(class="column small-8 large-8")
			ul(class="menu clearfix")
				li(class="float-left marginB15 paddingLR15 large-paddingL0")
					a(class="button primary" ng-click="vm.ctrl.toogleList()") 
						span(class="show-for-large") Product/Storage
						i(class="material-icons customIcon hide-for-large") compare_arrows
				li(class=' float-left marginB15 paddingLR15 large-paddingL0')
					a(class="button primary" ng-click="vm.ctrl.openCreateProduct()") 
						span() Add a new product
				li(class='paddingL15')
					a(class="button primary" ng-click="vm.ctrl.openCreateStorage()") 
						span() INBOUND
				li(class='paddingL15')
					a(class="button primary" ng-click="vm.ctrl.openReturnStorage()") 
						span() OUTBOUND
		div(class="column small-4")
			ul(class="menu clearfix")
				li(class="float-right marginL15 marginB15")
					<a class="button primary" ng-click="vm.ctrl.toggleFilter()"><span class="show-for-large">Filters</span><i class="material-icons customIcon hide-for-large">filter_list</i></a>
				li(class="float-right")
					ul(class="menu")
						li: label(class="paddingR15 show-for-large") Sorting
						li: select(ng-options='option.value as option.label for option in vm.model.sortingOptions' ng-model='vm.model.filter.sorting')
	// FILTER. 
	div(class="column" ng-show="vm.model.dom.filterDiv")
		div(class="borderT newBox row column")
			div(class='marginB15 column small-12 large-4')
				legend Search By Product Name
				input(type='text' ng-model='vm.model.filter.productName')
			div(class="marginB15 column small-12 large-4")
				legend Category
				select(ng-options='option.label as option.label for option in vm.model.categoryOptionsFilter' ng-model='vm.model.filter.category')
			div(class='marginB15 column small-12 large-4')
				legend Time
				select(ng-options='option.value as option.label for option in vm.model.timeOptions' ng-model='vm.model.filter.time' ng-change='vm.ctrl.timeChange()')
		div(class='row column' ng-if='vm.model.filter.time == 2')
			div(class='column small-12 large-6')
				label Start Time
					input(type="date" ng-model='vm.model.filter.startTime' ng-change='vm.ctrl.timeChange()')
			div(class='column small-12 large-6')
				label End Time
					input(type="date" ng-model='vm.model.filter.endTime' ng-change='vm.ctrl.timeChange()')
	// Storage list
	div(class="column" ng-show="vm.model.dom.storageList" ng-if='vm.model.dom.storage.list.length > 0')
		div(class="table-scroll newBox")
			table(class="borderAll")
				thead
					tr
						th No
						th Product Name
						th Bought Quantity
						th Sold Quantity
						//- th Edit
				tbody
					tr(ng-repeat='storage in vm.model.dom.storage.list | filter: vm.model.filter.productName | orderBy: vm.model.filter.sorting')
						th {{$index+1}}
						th {{storage.name}}
						th(ng-if='storage.quantity > 0') {{storage.quantity}}
						th(ng-if='storage.quantity < 0') 
						th(ng-if='storage.quantity < 0')  {{-storage.quantity}}
						th
						//- th
						//- 	input(class="button" type="submit" value="Edit" ng-click='vm.ctrl.openEditStorage(storage)')

	// Product list 
	div(class="column" ng-show="vm.model.dom.productList" ng-if='vm.model.dom.product.list.length > 0')
		div(class="table-scroll newBox")
			table(class="borderAll")
				thead
					tr
						th No
						th Category
						th Name
						th Quantity
						th Value
						th Edit
				tbody
					tr(ng-repeat='product in vm.model.dom.product.list | filter: vm.model.filter.productName | filterCategory: vm.model.filter.category | orderBy: vm.model.filter.sorting')
						th {{$index+1}}
						th {{product.category}}
						th {{product.name}}
						th {{product.totalQuantity}}
						th {{product.totalValue}}
						th
							input(class="button" type="submit" value="Edit" ng-click='vm.ctrl.openEditProduct(product)')
			//- div(ng-if='vm.model.temporary.displayedList.data.length > vm.model.pagination.itemsEachPages')
			//- 	ul(class="pagination text-center" role="navigation" aria-label="Pagination")
			//- 		li(ng-class='vm.model.previousClass' ng-click='vm.ctrl.goPrevious()') {{vm.model.goPreviousText}}
			//- 			a(aria-label="Previous page" ng-if='vm.model.goPreviousText != "Previous"') Previous
			//- 				span(class="show-for-sr") page

			//- 		li(ng-repeat="item in vm.model.temporary.displayedList.number track by $index" class='{{item.class}}')
			//- 			a(href ='' ng-click='vm.ctrl.sliceCheckinList(item.number)') {{item.number}}
					
			//- 		li(ng-class='vm.model.nextClass' ng-click='vm.ctrl.goNext()') {{vm.model.goNextText}}
			//- 			a(aria-label="Next page" ng-if='vm.model.goNextText != "Next"') Next
			//- 				span(class="show-for-sr") page
	// Add product			
	div(class="column row" ng-show='vm.model.dom.addProductDiv')
		form(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-submit='vm.ctrl.addProduct()')
			div(class='small-12 large-6 large-push-3')
				div(class="row column text-center paddingB15")
					h3 Add a new product
				div(class="row column")
					div(class="column small-12 paddingLR0")
						label Name
							input(type="text" ng-model='vm.model.product.name' required)
					div(class="column small-12 paddingLR0")
						label Price
							input(type="number" ng-model='vm.model.product.price' min='1' required)
					div(class="column small-12 paddingLR0")
						label Category
							select(ng-options='option.value as option.label for option in vm.model.categoryOptions' ng-model='vm.model.product.category')
					div(class="column small-12 paddingLR0")
						label Location
							select(ng-options='option.value as option.label for option in vm.model.locationOptions' ng-model='vm.model.product.storeId')

				div(class="row column paddingT15")
					input(class="button" type="submit" value="Submit")
					a(class="button float-right" ng-click='vm.ctrl.reset()') Cancel
	
	// Add storage			
	div(class="column row" ng-show='vm.model.dom.addStorageDiv')
		form(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-submit='vm.ctrl.addStorage()')
			div(class='small-12 large-6 large-push-3')
				div(class="row column text-center paddingB15")
					h3 INBOUND
				div(class="row column")
					div(class="column small-6 large-4 paddingL0")
						label Name
							select(ng-options='option.value as option.label for option in vm.model.productOptions' ng-model='vm.model.temporary.itemId')
					div(class="column small-6 large-4 paddingR0")
						label Quantity
							input(type="number" ng-model='vm.model.temporary.quantity' min='1' required)
					div(class="column large-4 show-for-large paddingR0")
						div(class="column small-12 paddingR0")

							a(class="button full-width-small" style="margin-top: 28px; display: block;" ng-click="vm.ctrl.addToItemList (); $event.preventDefault()") Add
					// SELECTED ITEMS
					div(class="row column")
						div(class='column small-12 large-10')
							table(ng-if='vm.model.storage.itemList.length > 0' class="unstriped")
								thead
									tr
										th Name
										th Quantity
								tbody 
									tr(ng-repeat='item in vm.model.storage.itemList')
										td {{item.name}}
										td {{item.quantity}}
										td(class='text-center deleteIcon')
											i(class="material-icons customIcon" ng-click="vm.ctrl.removeStorageFromList(item)") close
				div(class="row column")
					div(class="column small-12 paddingLR0")
						label Location
							select(ng-options='option.value as option.label for option in vm.model.locationOptions' ng-model='vm.model.storage.storeId')

				div(class="row column paddingT15")
					input(class="button" type="submit" value="Submit")
					a(class="button float-right" ng-click='vm.ctrl.reset()') Cancel
	// Return storage			
	div(class="column row" ng-show='vm.model.dom.returnStorageDiv')
		form(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-submit='vm.ctrl.returnStorage()')
			div(class='small-12 large-6 large-push-3')
				div(class="row column text-center paddingB15")
					h3 OUTBOUND
				div(class="row column")
					div(class="column small-6 large-4 paddingL0")
						label Name
							select(ng-options='option.value as option.label for option in vm.model.productOptions' ng-model='vm.model.temporary.itemId')
					div(class="column small-6 large-4 paddingR0")
						label Quantity
							input(type="number" ng-model='vm.model.temporary.quantity' min='1' required)
					div(class="column large-4 show-for-large paddingR0")
						div(class="column small-12 paddingR0")
							a(class="button full-width-small" style="margin-top: 28px; display: block;" ng-click="vm.ctrl.addToItemList (); $event.preventDefault()") Add
					// SELECTED ITEMS
					div(class="row column")
						div(class='column small-12 large-10')
							table(ng-if='vm.model.storage.itemList.length > 0' class="unstriped")
								thead
									tr
										th Name
										th Quantity
								tbody 
									tr(ng-repeat='item in vm.model.storage.itemList')
										td {{item.name}}
										td {{item.quantity}}
										td(class='text-center deleteIcon')
											i(class="material-icons customIcon" ng-click="vm.ctrl.removeStorageFromList(item)") close
				div(class="row column")
					div(class="column small-12 paddingLR0")
						label Location
							select(ng-options='option.value as option.label for option in vm.model.locationOptions' ng-model='vm.model.storage.storeId')

				div(class="row column paddingT15")
					input(class="button" type="submit" value="Submit")
					a(class="button float-right" ng-click='vm.ctrl.reset()') Cancel
	// Edit storage			
	// div(class="column row" ng-show='vm.model.dom.editStorageDiv')
		form(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-submit='vm.ctrl.editStorage()')
			div(class='small-12 large-6 large-push-3')
				div(class="row column text-center paddingB15")
					h3 Edit Storage
				div(class="row column")
					table
						tr
							th Name
							th Quantity
						tr
							td
								input(type='text' ng-model='vm.model.editStorage.name')
							td
								input(type='text' ng-model='vm.model.editStorage.quantity')
				div(class="row column paddingT15")
					input(class="button" type="submit" value="Save")
					a(class="button float-right" ng-click='vm.ctrl.reset()') Cancel
	// Edit Product			
	div(class="column row" ng-show='vm.model.dom.editProductDiv')
		form(class="borderT row column paddingT30 large-paddingLR0 paddingLR30 fullBox" ng-submit='vm.ctrl.editProduct()')
			div(class='small-12 large-6 large-push-3')
				div(class="row column text-center paddingB15")
					h3 Edit Product
				div(class="row column")
					table(class="unstriped")
						tr
							th Name
							th Price
							th Category
						tr
							td
								input(type='text' ng-model='vm.model.editProduct.name')
							td
								input(type='text' ng-model='vm.model.editProduct.price')
							td
								select(ng-options='option.value as option.label for option in vm.model.categoryOptions' ng-model='vm.model.editProduct.category')
				div(class="row column paddingT15")
					input(class="button" type="submit" value="Save")
					a(class="button float-right" ng-click='vm.ctrl.reset()') Cancel