<div class="row column" >
	<div class="callout {{ messageState }}">
		<p> {{ message }} </p>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-toggle="{{ messageDivId }}">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>