form(class="input-group" ng-submit='vm.searchFunc()')
	input(class="input-group-field" type="text" ng-model='vm.searchInput')
	div(class="input-group-button")
		input(type="submit" class="button" value="Submit")
div(class='searchResult')
	table
		tbody
			tr(ng-repeat = 'result in vm.results')
				td {{result.firstname}}
				td {{result.lastname}}