div(class="input-group")
	input(class="input-group-field" type="text")
	div(class="input-group-button")
		input(type="submit" class="button" value="Submit")

table
	thead
		tr
			th(width='100') Stt
			th(width='200') Name
			th Age

	tbody