<div class="row column is-hidden" data-toggler="is-hidden" id="messageCallout">
	<div class="callout {{ messageState }}" data-closable>
		<p> {{ message }} </p>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-toggle="messageCallout">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>