div(ng-switch='vm.tab')
	div(ng-switch-when='tab-search')
		//- Search Store
		form(class="input-group" ng-submit='vm.searchFunc()')
			input(class="input-group-field" type="text" ng-model='vm.searchInput')
			div(class="input-group-button")
				input(type="submit" class="button" value="Submit")
		div(class='searchResult')
			table
				tbody
					tr(ng-repeat = 'result in vm.results')
						td(ng-click='vm.toProfile($index)') {{result.name}}
						td {{result.price}}
		div(class='row')
			div(class='columns small-2 small-offset-5')
				button(type="button" class="button success" ng-click='vm.toCreate()') Create New Product
	div(ng-switch-when='tab-create')
		//- Create Customer
		div(class='row')
			table(class="columns small-12 medium-6 medium-offset-3")
				thead
					tr
						th Field Name
						th Field Value
				tbody
					tr
						td
							p Product Name
						td
							input(placeholder='Type here ...' ng-model='vm.formData.name')
					tr
						td
							p Price
						td
							input(placeholder='Type here ...' ng-model='vm.formData.price')
					tr
						td
							p Category
						td
							input(placeholder='Type here ...' ng-model='vm.formData.category')
		div(class='row')
			div(class='columns small-2 medium-2 medium-offset-3')
				button(type="button" class="button" ng-click='vm.createNewProduct()') Create
			div(class='columns small-2 medium-2 medium-offset-2 button-right')
				button(type="button" class="button" ng-click='vm.toSearch()') Back
	div(ng-switch-when='tab-profile')
		//- Profile Product
		div(class='row')
			div(class='columns small-12 medium-4 medium-offset-4')
				table
					thead
						tr
							th Title
							th Details
					tbody(class='product-detail')
						tr
							td Product Name
							td {{vm.product.name}}
						tr
							td Price
							td {{vm.product.price}}
						tr
							td Category
							td {{vm.product.category}}
		div(class='row')
			div(class='columns small-2 medium-2 medium-offset-3')
				button(type="button" class="button" ng-click='vm.toEdit()') Edit
			div(class='columns small-2 medium-2 medium-offset-2 button-right')
				button(type="button" class="button" ng-click='vm.toSearch()') Back
	div(ng-switch-when='tab-edit')
		//- Edit Product
		div(class='row')
			div(class='columns small-12 medium-4 medium-offset-4')
				table
					thead
						tr
							th Title
							th Details
					tbody(class='product-detail')
						tr
							td Store Name
							td
								input(ng-model='vm.product.name')
						tr
							td Price
							td
								input(ng-model="vm.product.price")
						tr
							td Category
							td
								input(ng-model="vm.product.category")
		div(class='row')
			div(class='columns small-2 medium-2 medium-offset-3')
				button(type="button" class="button" ng-click='vm.saveEdit()') Save
			div(class='columns small-2 medium-2 medium-offset-2 button-right')
				button(type="button" class="button" ng-click='vm.toSearch()') Back